<div class="modal-body">
    <div>
        <form [formGroup]="form">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-bottom-20">
                <div class="text-center">
                    <h3 class="modal-title">{{'brand.add-brand'|translate}}</h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-top-20">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('en_name').invalid && form.get('en_name').dirty}">
                            <label class="control-label">  {{'brand.en_name' | translate }}
                          </label>
                            <input formControlName="en_name" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('en_name').invalid && form.get('en_name').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('ar_name').invalid && form.get('ar_name').dirty}">
                            <label class="control-label">{{'brand.ar_name' | translate }}
                          </label>
                            <input formControlName="ar_name" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('ar_name').invalid && form.get('ar_name').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('url').invalid && form.get('url').dirty}">
                            <label class="control-label">{{'brand.url' | translate }}
                          </label>
                            <input formControlName="url" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('url').invalid && form.get('url').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 m-b-10">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 margin-top-20">
                        <label tabindex="0" class="lbl-img res-img" for="my-file-3">
                                    <a>  
                                    <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                        <img src='assets/img/icons/photo.svg' class="m-t-15" for="my-file-3" width="50%"  *ngIf="img==null">
                                        <img [src]='img' for="my-file-3" for="my-file-3" width="100%" height="125px"
                                         *ngIf="img!=null">
        
                                            <input class="input-file" id="my-file-3" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event)" class="select-profile-picture">
                                            <input class="input-file" id="my-file-3" type="file" style="display :none" (change)="onSelectFile($event,1)" class="select-profile-picture">
                                        </div>
                                    </a>
                            </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="modal-footer">
        <div class="col-md-8"> </div>

        <div class="col-lg-6">
            <button type="button" class="btn btn-success width-100" [disabled]="form.invalid" (click)="save()">
           {{'share.Save' | translate}}
       </button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-danger width-100" data-dismiss="modal" (click)="myModel.hide()"> {{'share.Close' | translate}}</button>
        </div>



    </div>
</div>