<app-settings-layout [mycurrenttab]="84">
</app-settings-layout>
<div *ngIf="!showpage">
    <div>
        <div class="heading-menubar">
            <div class="col-lg-12 text-left margin-top-10 margin-bottom-10 en-position">
                <button type="button" class="btn bg-default-color btn-full-width padding-h-30" (click)="addNew()">
                    <i class="fa fa-plus padding-right-15"></i>{{'share.New'|translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-none">
                    <div class="">
                        <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">
                            <label>{{ 'share.show' | translate }}:</label>
                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
                          <option value="10">10</option>
                          <option value="20">20</option>
                          <option value="40">50</option>
                          <option value="100">100</option>
                      </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>

                        <th >
                            <a (click)="pagingparamater.orderBy = 'en_name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                           {{'brand.en_name' | translate }}
                        </a>
                            <span class="pull-right">
                    <span *ngIf="pagingparamater.orderBy == 'en_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'en_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'ar_name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                               {{ 'brand.ar_name' | translate }}
                           </a>
                            <span class="pull-right">
                            <span *ngIf="pagingparamater.orderBy == 'ar_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'ar_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            {{ 'brand.url' | translate }}
                        </th>
                        <th>
                            {{ 'share.BrandLogo' | translate }}
                        </th>
                        <th colspan="2">
                            {{ 'share.actions' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Result of Data.data">
                        <td class="text-center">{{Result.en_name}}</td>
                        <td class="text-center">{{Result.ar_name}}</td>
                        <td class="text-center">{{Result.url}}</td>
                        <td class="text-center"><img width="50px" height="50px" src={{myURL}}{{Result.img}}></td>
                        <td class="text-center">
                            <a (click)="addNew(Result.id,Result)">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a (click)="Delete(Result.id)">
                                <i class="icon-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>