
/************************************** padding left ***************************************/
.padding-right-0 {
    padding-left: 0px;
}

.padding-right-5 {
    padding-left: 5px;
}

.padding-right-10 {
    padding-left: 10px;
}

.padding-right-15 {
    padding-left: 15px;
}

.padding-right-20 {
    padding-left: 20px;
}

.padding-right-25 {
    padding-left: 25px;
}

.padding-right-30 {
    padding-left: 30px;
}

.padding-right-35 {
    padding-left: 35px;
}

.padding-right-40 {
    padding-left: 40px;
}

.padding-right-45 {
    padding-left: 45px;
}

.padding-right-50 {
    padding-left: 50px;
}

/************************************** padding right ***************************************/
.padding-left-0 {
    padding-right: 0px;
}

.padding-left-5 {
    padding-right: 5px;
}

.padding-left-10 {
    padding-right: 10px;
}

.padding-left-15 {
    padding-right: 15px;
}

.padding-left-20 {
    padding-right: 20px;
}

.padding-left-25 {
    padding-right: 25px;
}

.padding-left-30 {
    padding-right: 30px !important;
}

.padding-left-35 {
    padding-right: 35px;
}

.padding-left-40 {
    padding-right: 40px;
}

.padding-left-45 {
    padding-right: 45px;
}

.padding-left-50 {
    padding-right: 50px;
}


/************************************** margin left ***************************************/
.margin-right-5 {
    margin-left: 5px;
}

.margin-right-10 {
    margin-left: 10px;
}

.margin-right-15 {
    margin-left: 15px;
}

.margin-right-20 {
    margin-left: 20px;
}

.margin-right-25 {
    margin-left: 25px;
}

.margin-right-30 {
    margin-left: 30px;
}

.margin-right-35 {
    margin-left: 35px;
}

.margin-right-40 {
    margin-left: 40px;
}

.margin-right-45 {
    margin-left: 45px;
}

.margin-right-50 {
    margin-left: 50px;
}

/************************************** margin right ***************************************/
.margin-left-5 {
    margin-right: 5px;
}

.margin-left-10 {
    margin-right: 10px;
}

.margin-left-15 {
    margin-right: 15px;
}

.margin-left-20 {
    margin-right: 20px;
}

.margin-left-25 {
    margin-right: 25px;
}

.margin-left-30 {
    margin-right: 30px;
}

.margin-left-35 {
    margin-right: 35px;
}

.margin-left-40 {
    margin-right: 40px;
}

.margin-left-45 {
    margin-right: 45px;
}

.margin-left-50 {
    margin-right: 50px;
}

/************************************************************************ margin *************************************************************************/
.margin-none {
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-25 {
    margin: 25px;
}

.margin-30 {
    margin: 30px;
}

.margin-35 {
    margin: 35px;
}

.margin-40 {
    margin: 40px;
}

.margin-45 {
    margin: 45px;
}

.margin-50 {
    margin: 50px;
}

/************************************** margin top ***************************************/

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-90{
    margin-top:90px;
}
/************************************** margin bottom ***************************************/
.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-45 {
    margin-bottom: 45px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}


/************************************** margin vertical ***************************************/

.margin-v-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-v-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-v-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-v-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-v-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-v-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-v-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-v-35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.margin-v-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-v-45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.margin-v-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/************************************** margin horizental ***************************************/
.margin-h-0 {
    margin-right: 0px;
    margin-left: 0px;
}

.margin-h-5 {
    margin-right: 5px;
    margin-left: 5px;
}

.margin-h-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.margin-h-15 {
    margin-right: 15px;
    margin-left: 15px;
}

.margin-h-20 {
    margin-right: 20px;
    margin-left: 20px;
}

.margin-h-25 {
    margin-right: 25px;
    margin-left: 25px;
}

.margin-h-30 {
    margin-right: 30px;
    margin-left: 30px;
}

.margin-h-35 {
    margin-right: 35px;
    margin-left: 35px;
}

.margin-h-40 {
    margin-right: 40px;
    margin-left: 40px;
}

.margin-h-45 {
    margin-right: 45px;
    margin-left: 45px;
}

.margin-h-50 {
    margin-right: 50px;
    margin-left: 50px;
}

/************************************************************************ Padding *************************************************************************/
.padding-none {
    padding: 0;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-30 {
    padding: 30px;
}

.padding-35 {
    padding: 35px;
}

.padding-40 {
    padding: 40px;
}

.padding-45 {
    padding: 45px;
}

.padding-50 {
    padding: 50px;
}

/************************************** padding top ***************************************/
.padding-top-0 {
    padding-top: 0px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-45 {
    padding-top: 45px;
}

.padding-top-50 {
    padding-top: 50px;
}
.padding-top-195{
    padding-top:195px;
}
/************************************** padding bottom ***************************************/
.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-45 {
    padding-bottom: 45px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

/************************************** padding vertical ***************************************/
.padding-v-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding-v-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-v-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-v-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-v-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-v-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.padding-v-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-v-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.padding-v-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/************************************** padding horizental ***************************************/
.padding-h-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-h-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-h-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-h-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-h-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-h-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.padding-h-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-h-45 {
    padding-left: 45px;
    padding-right: 45px;
}

.padding-h-50 {
    padding-left: 50px;
    padding-right: 50px;
}

/********************************************* line height **********************************/
.line-height-15 {
    line-height: 15px;
}

.line-height-20 {
    line-height: 20px;
}

.line-height-25 {
    line-height: 25px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-35 {
    line-height: 35px;
}

.line-height-40 {
    line-height: 40px;
}

/****************************************** position ****************************************/
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/*******************************************Font-size*****************************************/
.font-size-12{
    font-size:12px ;
}
.font-size-14{
    font-size:14px ;
    font-weight:600;
}
.font-size-16{
    font-size:16px ;
    font-weight:600;
}
.font-size-18{
    font-size:18px ;
    font-weight:600;
}
.font-size-20{
    font-size:20px ;
    font-weight:600;
}
.font-size-22{
    font-size:22px ;
    font-weight:600;
}
.font-size-5em{
    font-size:5em !important;
}
.font-size-12em{
    font-size:12em;
}
/*******************************************Font-weight*****************************************/
.font-weight-100{
    font-weight:100;
}
.font-weight-200{
    font-weight:200;
}
.font-weight-300{
    font-weight:300;
}
.font-weight-400{
    font-weight:400;
}
.font-weight-500{
    font-weight:500;
}

/********************************************Custom************************************************/
.border-none{
    border: none;
}
.border-radius-0{
    border-radius: 0px;
}

.float-none {
    float: none;
}

.margin-auto {
    margin: auto;
}

.bordered{
    border: 1px solid #CCCCCC;
}

.border-top{
    border-top: 1px solid #CCCCCC;
}
.border-bottom{
    border-bottom: 1px solid #CCCCCC;
}