@charset "utf-8";

/* CSS Document */

@import url("./icons/icomoon/styles.css");
@import url("./core.css");
@import url("./sidebar-components.css");
@import url("./colors.css");
@import url("./reset.css");
@import url("./font.css");

/***********************************************************************************************
** plus combomant **
************************************************************************************************/

.englishfont {
    font-family: 'Cairo', sans-serif;
}

.border-radius-5 {
    border-radius: 0 5px 5px 0 !important;
}

.pull-right {
    float: left !important;
}

.width-50 {
    width: 50%
}

.width-100 {
    width: 100%
}

/* .disabled { 
    cursor: not-allowed;
    pointer-events: none;
    color    : grey;
} */
.img-centar{
    margin: 0 auto;
}
.color-blu-system{
    color: #376994;
}

/***********************************************************************************************/
/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */

/* =Elements style
---------------------- */
.load-wrapp {
    float: none;
    width: 100px;
    height: 100px;
    margin: 84px 10px 83px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    display: inline-block;
    /* text-align: center; */
    /* background-color: #d8d8d8; */
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #376994;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #376994;
    border-radius: 100%;
}

.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #376994;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #376994;
}

.letter-holder {padding: 16px;}

.letter {
    float: left;
    font-size: 14px;
    color: #777;
}

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #376994;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #376994;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #376994;
}

/* =Animate the stuff
------------------------ */
.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}

.load-7 .square {animation: loadingG 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-9 .spinner {animation: loadingI 2s linear infinite;}
.load-9 .bubble-1, .load-9 .bubble-2 {animation: bounce 2s ease-in-out infinite;}
.load-9 .bubble-2 {animation-delay: -1.0s;}

.load-10 .bar {animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loadingA {
    0% {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}

@keyframes loadingB {
    0% {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

@keyframes loadingC {
    0% {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}

@keyframes loadingD {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingE {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingF {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}

@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}

@keyframes loadingJ {
  0%,100% {transform: translate(0,0);}
  
  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}
/***********************************************************************************************
** End plus combomant **
************************************************************************************************/

.sidebar-content {
    position: fixed !important;
    display: block;
    top: 0;
    height: 100%;
    width: 268px;
    left: auto !important;
    right: 0 !important;
}


/***********************************************************************************************
** Login **
************************************************************************************************/

.has-feedback-left .form-control-feedback {
    right: auto;
    left: 10px;
    top: 5px;
}


/***********************************************************************************************
** End Login **
************************************************************************************************/


/***********************************************************************************************
**Shortcut Menu **
************************************************************************************************/

.header-right nav a span {
    float: right;
    padding: 14px 0 0 4px;
    margin: 0 5px;
}


/***********************************************************************************************
**End Shortcut Menu **
************************************************************************************************/

.navigation {
    text-align: right;
}


/***********************************************************************************************
**componat float **
************************************************************************************************/

.search:before {
    left: 0;
}

.searchButton {
    left: 0;
}

.file-input-new .input-group .input-group-btn>.btn-file {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.input-group>.form-control+.input-group-btn,
.input-group>.has-feedback+.input-group-btn {
    padding-right: 0px !important;
}


/***********************************************************************************************
** End Componat Float **
************************************************************************************************/


/***********************************************************************************************
** tree view **
************************************************************************************************/

.tree li {
    padding: 3px 15px 3px 0 !important;
    font-family: 'Cairo', sans-serif;
}

tree-internal .loading-children:after {
    content: 'جاري التحميل ...';
}

.node-menu .node-menu-content .node-menu-item .node-menu-item-value {
    margin-right: -5px;
    display: inline-block;
    font-size: 12px;
    margin-left: 0;
}


/***********************************************************************************************
** End tree view **
************************************************************************************************/


/***********************************************************************************************
** @media Quarey **
************************************************************************************************/

@media (min-width: 768px) {
    .navbar-right {
        float: left !important;
        margin-left: -15px;
    }
    .datatable-header {
        text-align: initial !important;
    }
}

@media (max-width: 768px) {
    .datatable-header {
        text-align: initial !important;
    }
}


/***********************************************************************************************
** End @media Quarey **
************************************************************************************************/

.dropdown-menu {
    left: 0;
    right: auto;
    float: right;
    text-align: right;
}


/* pos current Balance */

.currentBalance {
    position: absolute;
    right: 10px;
}


/***********************************************************************************************
** my own**
************************************************************************************************/

.searchButton {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    opacity: 1;
    cursor: pointer;
    color: white;
    background: #a2185b;
    border: 0;
}