<label class="control-label" *ngIf="!nolabel">{{ label | translate }}
  <span class="danger" *ngIf="isRequired">*</span>
</label>
<div class="ui-select-container dropdown" [class.open]="isOpen" [class.select-loading]="selectLoading">
    <input class="form-control input-md" autocomplete="off" [disabled]="isDisabled" placeholder="{{ selectedText ? selectedText : label | translate }}" ngModel (ngModelChange)="filterChange($event)" (focus)="clickOnInput()" #filterInput type="text" (blur)="inputBlur()"
        (keyup.enter)="upEnter()" (keydown.arrowDown)="downArrowDown()" (keydown.arrowUp)="downArrowUp()">
    <span *ngIf="!isOpen" class="caret pull-right arrow_input"></span>
    <span *ngIf="!isOpen && selectedText" class="glyphicon glyphicon-remove pull-right remove_input" (click)="removeSelected()"></span>
    <ul class="ui-dropdown-menu dropdown-menu" *ngIf="isOpen" [style.min-width]="filterInput?.clientWidth + 'px'">
        <li *ngFor="let selectItem of filteredList;">
            <span class="ui-select-choices-row" [class.active]="selectItem.id == selected?.id">
        <a class="dropdown-item font-size-12" [class.disabled]="isInDisabledIDs(selectItem.id)"
          (mousedown)="selectItemFromList(selectItem)">
          <span *ngIf="selectItem.Code && (selectItem.ar_namr || selectItem.en_name || selectItem.Name)">[</span>
            <span *ngIf="selectItem.Code"><strong>{{selectItem.Code}}</strong></span>
            <span *ngIf="selectItem.Code && (selectItem.ar_name || selectItem.en_name || selectItem.Name )">] </span>
            <span [class.pull-right]="selectItem.Code" *ngIf="selectItem.ar_name || selectItem.en_name || selectItem.Name">
            {{languageService.getLanguageOrDefault()
                      == 'ar' ? selectItem.Name || selectItem.ar_name : selectItem.en_name}}</span>
            </a>
            </span>
        </li>
    </ul>
</div>