
<div *ngIf="!showpage">
    <div class="panel-heading">
        <h5 class="panel-title"> {{'orders'|translate}}</h5>
        <div class="heading-elements">
            <ul class="breadcrumb">
                <li>
                    {{'Home'|translate}}/ {{'orders'|translate}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4> {{'order.pending'|translate}}</h4>
                    <h3>{{totalData.pending}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('pending')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4> {{'order.confirmed'|translate}}</h4>
                    <h3>{{totalData.confirmed}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('confirmed')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'order.canceledByChief'|translate}}</h4>
                    <h3>{{totalData.rejected}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('canceledByChief')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4> {{'order.autoRejected'|translate}}</h4>
                    <h3>{{totalData.autoRejected}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('autoRejected')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4> {{'order.ontheway'|translate}}</h4>
                    <h3>{{totalData.ontheway}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('ontheway')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'order.delivered'|translate}}</h4>
                    <h3>{{totalData.delivered}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('delivered')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-none">
                    <div class="">
                        <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="Export()"><i class="icon-file-download"></i></button></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">
                            <label>{{ 'share.show' | translate }}:</label>
                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
                              <option value="10">10</option>
                              <option value="20">20</option>
                              <option value="40">50</option>
                              <option value="100">100</option>
                          </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>
                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'code'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                               {{'order.code' | translate }}
                            </a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'code' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'code' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'kitchen_name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                         {{ 'order.kitchen_name' | translate }}
                      </a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'kitchen_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'kitchen_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'firstname'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                         {{'order.firstname' | translate }}
                      </a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'firstname' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'firstname' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'phone'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                         {{'order.phone' | translate }}
                      </a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'phone' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'phone' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'NetTotal'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                          {{'order.NetTotal' | translate }}</a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'NetTotal' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'NetTotal' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'date'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                         {{'order.date' | translate }}</a>
                            <span class="pull-right">
                           <span *ngIf="pagingparamater.orderBy == 'date' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"  aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'date' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            {{'order.note' | translate }}
                        </th>
                        <th class="text-center"  width="10%">{{ 'order.status' | translate }}</th>
                        <th class="text-center" colspan="2" >
                            {{ 'share.actions' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Result of Data?.data">
                        <td class="text-center">{{Result.code}}</td>
                        <td class="text-center">{{Result.chief.kitchen_name}}</td>
                        <td class="text-center">{{Result.customer.firstname}}</td>
                        <td class="text-center">{{Result.customer.user.phone}}</td>
                        <td class="text-center">{{Result.NetTotal + Result.delivery_fee}}</td>
                        <td class="text-center">{{Result.date}}</td>
                        <td class="text-center">{{Result.note}}</td>
                        <td *ngIf="Result.status=='auto-rejected'"> {{'order.autoRejected'|translate}}</td>
                        <td class="text-center" *ngIf="Result.status!='auto-rejected'">{{Result.status}}</td>
                        <td class="text-center">
                            <a class="btn btn-success bg-default-color" (click)="showInvoice(Result.id,Result)"><i class="fa fa-view"></i>{{'share.showincoice'|translate}}</a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-success bg-default-color" (click)="orderDetails(Result.id)"><i class="fa fa-view"></i>{{'share.show'|translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>