<label class="control-label" *ngIf="!nolabel">{{ label | translate }}
  <span class="danger" *ngIf="isRequired">*</span>
</label>
<input class="form-control input-md" autocomplete="off"  [disabled]="isDisabled" type="text">