<div class="modal-body reciept">
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 m-top-20">
        <h6 class="date-order">{{Date | date:'dd-MM-yyyy HH:mm:ss'}}</h6>
    </div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 m-top-20">
        <img src="assets/img/logo.png" alt="">
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 m-top-20 text-center">
        <h3 class="title-order">
            شركة اسرة قوت للتسويق الإلكتروني</h3>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 m-top-20 text-center">
        <h5 class="title-order">
            7453 Abdul Mohsen Al Halabi- Al Marwah Dist,
            <br> Unit No 8, Jeddah 23545-4834 , Kingdom of Saudi Arabia.</h5>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 m-top-20 text-right">
        <p> رقم التعريف الضريبى : {{myData.chief.maroof_number}} </p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 m-top-20 text-right">

        <p> التاريخ : <span> {{myData.date}} </span></p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 m-top-20 text-right">
        <p> رقم الطلب : <span> {{myData.code}} </span></p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 m-top-20 text-right">
        <p><span>{{myData.customer.user.phone}}/ {{myData.customer.firstname}} : العميل </span></p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 margin-top">
        <table border="1px">
            <thead>
                <tr>
                    <th class="text-center">{{'order.total'|translate}}</th>
                    <th class="text-center" width="10%">price</th>
                    <th class="text-center">{{'order.quantity'|translate}}</th>
                    <th class="text-center">{{'order.item'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Result of myData?.dishes">
                    <td class="text-center">{{Result.price * Result.pivot.quantity}}</td>
                    <td class="text-center">{{Result.price}}</td>
                    <td class="text-center">{{Result.pivot.quantity}}</td>
                    <td class="text-center">{{Result.ar_name}}</td>
                </tr>
                <tr *ngFor="let Result of myData?.weeklydeals">
                    <td class="text-center">{{Result.price * Result.pivot.quantity}}</td>
                    <td class="text-center">{{Result.price}}</td>
                    <td class="text-center">{{Result.pivot.quantity}}</td>
                    <td class="text-center">{{Result.ar_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10 text-right">

        <p> المجموع : <span>  {{myData.NetTotal}}</span></p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10 text-right">

        <p> خدمة التوصيل : <span>  {{myData.delivery_fee}} </span></p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10 text-right">

        <p> الصافي: <span>   {{myData.NetTotal + myData.delivery_fee }} </span></p>

    </div>