<app-settings-layout [mycurrenttab]="88">
</app-settings-layout>
<div *ngIf="!showpage">
    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-none">
                    <div class="">
                        <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">
                            <label>{{ 'share.show' | translate }}:</label>
                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
                          <option value="10">10</option>
                          <option value="20">20</option>
                          <option value="40">50</option>
                          <option value="100">100</option>
                      </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>

                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'Name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                           {{'contactus.Name' | translate }}
                        </a>
                            <span class="pull-right">
                            <span *ngIf="pagingparamater.orderBy == 'Name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'Name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'Email'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                               {{ 'contactus.Email' | translate }}
                           </a>
                            <span class="pull-right">
                            <span *ngIf="pagingparamater.orderBy == 'Email' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'Email' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'Mobile'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                           {{'contactus.Mobile' | translate }}
                        </a>
                            <span class="pull-right">
                            <span *ngIf="pagingparamater.orderBy == 'Mobile' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'Mobile' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'Message'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                           {{'contactus.Message' | translate }}
                        </a>
                            <span class="pull-right">
                            <span *ngIf="pagingparamater.orderBy == 'Message' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'Message' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'msg_type'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                           {{'contactus.msg_type' | translate }}
                        </a>
                            <span class="pull-right">
                            <span *ngIf="pagingparamater.orderBy == 'msg_type' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'msg_type' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Result of Data.data">
                        <td class="text-center">{{Result.Name}}</td>
                        <td class="text-center">{{Result.Email}}</td>
                        <td class="text-center">{{Result.Mobile}}</td>
                        <td class="text-center">{{Result.Message}}</td>
                        <td class="text-center">{{languageService.getLanguageOrDefault()=='ar' ? Result.msg_type.NameArabic :Result.msg_type.NameEnglish}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>