<div *ngIf="!showpage">
    <div class="panel-heading">
        <h5 class="panel-title"> {{'Dishes'|translate}}</h5>
        <div class="heading-elements">
            <ul class="breadcrumb">
                <li>
                    {{'Home'|translate}}/ {{'Dishes'|translate}}
                </li>
            </ul>
        </div>
    </div>
    <div>


        <div class="col-xs-6">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'Dish.Total_Dishes'|translate}}</h4>
                    <h3>{{totalData.alldishes}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('all')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'Dish.Approve_Dishes'|translate}}</h4>
                    <h3>{{totalData.approveddishes}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('1')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4> {{'Dish.Un_Approve_Dishes'|translate}}</h4>
                    <h3>{{totalData.inapproveddishes}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('0')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-none">
                    <div class="">
                        <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="Export()"><i class="icon-file-download"></i></button></div>
                <!-- dataTables_length  -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">
                            <label>{{ 'share.show' | translate }}:</label>
                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>

                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'kitchen_name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                                 {{'Dish.kitchen_name' | translate }}
                        </a>
                            <span class="pull-right">
                          <span *ngIf="pagingparamater.orderBy == 'kitchen_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'kitchen_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'kitchen_owner_name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                           {{ 'Dish.kitchen_owner_name' | translate }}
                        </a>
                            <span class="pull-right">
                          <span *ngIf="pagingparamater.orderBy == 'kitchen_owner_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'kitchen_owner_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'ar_name'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                            {{'Dish.arname' | translate }}</a>
                            <span class="pull-right">
                          <span *ngIf="pagingparamater.orderBy == 'ar_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'ar_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'en_name'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                           {{'Dish.enname' | translate }}</a>
                            <span class="pull-right">
                             <span *ngIf="pagingparamater.orderBy == 'en_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"  aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'en_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'price'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">{{ 'Dish.price' | translate }}</a>
                            <span class="pull-right">
                          <span *ngIf="pagingparamater.orderBy == 'price' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'price' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th class="text-center" width="10%">{{ 'order.quantity' | translate }}</th>
                        <th class="text-center" width="10%">{{ 'share.active' | translate }}</th>
                       
                        <th class="text-center" width="10%">{{ 'Dish.status' | translate }}</th>

                        <th>
                            {{ 'share.actions' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Result of Data?.data">
                        <td class="text-center">{{Result.chief.kitchen_name}}</td>
                        <td class="text-center">{{Result.chief.kitchen_owner_name}}</td>
                        <td class="text-center">{{Result.ar_name}}</td>
                        <td class="text-center">{{Result.en_name}}</td>
                        <td class="text-center">{{Result.quantity}} {{Result.unit?.ar_name}}</td>
                        <td class="text-center">{{Result.price}}</td>
                        <td class="text-center">
                            <input type="checkbox" [checked]="Result.approved==1" class="checkbox" (change)="approve(Result.id)">
                        </td>
                        <td class="text-center" *ngIf="Result.approved==1">
                            {{'Dish.approved'|translate}}
                        </td>
                        <td class="text-center" *ngIf="Result.approved==0">
                            {{'Dish.not-approved'|translate}} 
                        </td>
                        <td class="text-center">
                            <a class="btn btn-primary bg-default-color" routerLink="/admin/show-profile/{{Result.chief.user_id}}"><i class="fa fa-view"></i>{{'share.show'|translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>