<div *ngIf="!showpage">
    <div class="panel-heading">
        <h5 class="panel-title"> {{'Employees'|translate}}</h5>
        <div class="heading-elements">
            <ul class="breadcrumb">
                <li>
                    {{'Home'|translate}}/ {{'Employees'|translate}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="panel-heading padding-bottom-5">
            <div class="heading-menubar">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bottom-30 ">
                    <button type="button" class="btn bg-default-color btn-full-width padding-h-30 " (click)="addEmployee()">
                    <i class="fa fa-plus padding-right-15"></i>{{'share.New'|translate}}
                </button>

                    <a type="button" class="btn bg-default-color btn-full-width padding-h-30 margin-left-20" routerLink="/admin/role-mangment">
                         {{'settingsEmployees'|translate}}
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-bottom-30 ">

                </div>
            </div>
        </div>
    </div>
    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-none">
                    <div>
                        <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="Export()"><i class="icon-file-download"></i></button></div>

                <!-- dataTables_length  -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">
                            <label>{{ 'share.show' | translate }}:</label>
                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="40">50</option>
          <option value="80">100</option>
        </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>

                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'firstname'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                               {{'employee.firstname' | translate }}
                      </a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'firstname' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'firstname' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'lastname'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                         {{ 'employee.lastname' | translate }}
                      </a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'lastname' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'lastname' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'address'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                          {{'employee.address' | translate }}</a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'address' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'address' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'email'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                         {{'employee.email' | translate }}</a>
                            <span class="pull-right">
                           <span *ngIf="pagingparamater.orderBy == 'email' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"  aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'email' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'phone'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">{{ 'employee.phone' | translate }}</a>
                            <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'phone' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'phone' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>

                        <th colspan="2">
                            {{ 'share.actions' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Result of Data.data">
                        <td class="text-center">{{Result.employee.firstname}}</td>
                        <td class="text-center">{{Result.employee.lastname}}</td>
                        <td class="text-center">{{Result.employee.address}}</td>
                        <td class="text-center">{{Result.email}}</td>
                        <td class="text-center">{{Result.phone}}</td>
                        <td class="text-center">
                            <a (click)="addEmployee(Result.id,Result)">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a (click)="Delete(Result.id)">
                                <i class="icon-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>