.select-loading {
    pointer-events: none;
    opacity: 0.5;
    /* opacity: 0.2; */
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.arrow_input {
    position: relative;
    top: -23px;
    bottom: 0;
    z-index: 99;
    padding: 0 5px;
}

.ui-dropdown-menu {
    height: auto;
    max-height: 210px;
    overflow-x: hidden;
    margin-top: 0;
    /* position: absolute; */
    z-index: 1050;
    /* top: 698px; left: 261.5px; */
}

.ui-dropdown-menu li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.ui-select-choices-row>a {
    display: block;
    text-decoration: none;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.ui-select-choices-row.active>a {
    color: #fff;
    /* text-decoration: none; */
    outline: 0;
    background-color: #428bca;
}

.ui-select-choices-row:hover>a {
    color: #000;
    /* text-decoration: none; */
    outline: 0;
    background-color: #ccc;
}

.remove_input {
    position: relative;
    top: -22px;
    color: #a2185b;
}

.remove_input:hover {
    color: #a94442;
}

.font-size-12 {
    font-size: 12px
}

.dropdown-menu>li {
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
}