<div *ngIf="!showpage">
    <div class="panel-heading">
        <h5 class="panel-title"> {{'customer.Profile'|translate}}: {{Data.customer.firstname}} {{Data.customer.lastname}} </h5>
        <div class="heading-elements">
            <ul class="breadcrumb">
                <li>
                    {{'Home'|translate}}/   {{'customer.Profile'|translate}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="header-right hidden-sm hidden-xs padding-h-35">
            <nav>
                <a (click)="tab=1" [class.active]="tab==1">
                    <span><img src="assets/images/icon-shortcut/purchase.png" class="img-responsive"></span> {{'customer.Profile'|translate}}
                </a>
                <a (click)="tab=2" [class.active]="tab==2">
                    <span><img src="assets/images/icon-shortcut/purchase.png" class="img-responsive"></span>  {{'customer.favourite'|translate}}
                </a>
                <a (click)="tab=3" [class.active]="tab==3">
                    <span><img src="assets/images/icon-shortcut/purchase.png" class="img-responsive"></span> {{'customer.orders'|translate}} 
                </a>
                <a (click)="tab=4" [class.active]="tab==4">
                    <span><img src="assets/images/icon-shortcut/purchase.png" class="img-responsive"></span> {{'customer.wallet'|translate}} 
                </a>
            </nav>
        </div>

        <!-- ///profile -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" [class.active]="tab==1">
                <h5 class="hr-condensed title"> {{'customer.Initial-Details'|translate}}</h5>

                <div class="col-xs-12 hr-condensed">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label"> {{'customer.customerName'|translate}}:
                                    <span >{{Data.customer.firstname}} {{Data.customer.lastname}}</span>
                                </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">  {{'customer.phone'|translate}}:
                                    <span >{{Data.phone}}</span>
                                </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 hr-condensed">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label"> {{'customer.email'|translate}}:
                                    <span >{{Data.email}}</span>
                                </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label"> {{'customer.Joined-in'|translate}}  :
                                    <span >{{Data.created_at}}</span>
                                </label>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 hr-condensed">
                    <h5 class="hr-condensed title">{{'customer.Address'|translate}}</h5>
                    <ng-container *ngFor="let row of Data.customer.addresses">
                        <div class="col-xs-4">
                            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                                <div class="text-center sizeicon-font">
                                    <i class="fa fa-sort-amount-desc color_move border-radius-icon" aria-hidden="true"></i>
                                </div>
                                <div class="text-center color_move">
                                    <h3>{{row.nick_name}}</h3>
                                    <h4>{{'customer.email'|translate}}:{{row.address}}</h4>
                                    <h4>معلومات:{{row.delivery_instructions}}</h4>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- /// favourite -->
            <div role="tabpanel" class="tab-pane" [class.active]="tab==2">
                <h5 class="hr-condensed title">{{'customer.favourite'|translate}} </h5>
                <div class="col-xs-12 hr-condensed">
                    <ng-container>
                        <ng-container *ngFor="let row of Data.customer.bookmarks">
                            <div class="col-xs-4">
                                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                                    <div class="text-center sizeicon-font">
                                        <i class="fa fa-sort-amount-desc color_move border-radius-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class=" color_move">
                                        <h4> المطبخ:{{row.kitchen_name}}</h4>
                                        <h4>المالك:{{row.kitchen_owner_name}}</h4>
                                        <h4>المدينة:{{row.maroof_number}}</h4>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <!-- /// orders -->
            <div role="tabpanel" class="tab-pane" [class.active]="tab==3">
                <h5 class="hr-condensed title">{{'customer.orders'|translate}} </h5>
                <div class="col-xs-12 hr-condensed">
                    <ng-container *ngFor="let row of Data.customer.orders">
                        <div class="col-xs-4">
                            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                                <div class="text-center sizeicon-font">
                                    <i class="fa fa-sort-amount-desc color_move border-radius-icon" aria-hidden="true"></i>
                                </div>
                                <div class="color_move">
                                    <h3>{{'customer.NoOfOrder'|translate}} :{{row.code}}</h3>
                                    <h4>{{'customer.total'|translate}} :{{row.NetTotal}}</h4>
                                    <h4>{{'customer.Date'|translate}} :{{row.created_at}}</h4>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- /// wallet -->
            <div role="tabpanel" class="tab-pane" [class.active]="tab==4">
                <h5 class="hr-condensed title">{{'customer.wallet'|translate}} </h5>
                <div class="col-xs-12 hr-condensed">
                    <div class="term-card address-card mblg">
                        <div class="address-head mbsm">
                            <h3 class="no-margin "> {{'customer.totalwallet'|translate}}:
                            </h3>
                            <br>
                            <h3 class="no-margin ">{{Data.customer.wallet.value}}
                            </h3>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-3">
        <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor text-center">
            <div class="form-group">
                <img width="200px" src="{{Data.avatar}}">
            </div>
            <div class="form-group margin-top-40" *ngIf="Data.status=='blocked'">

                <label class="label--checkbox display-inline-flex margin-top-40">
                    <input type="checkbox" class="checkbox" (change)="block()">
                    <span class="margin-h-10"></span> فك حظر العميل
                </label>
            </div>

            <div class="form-group" *ngIf="Data.status!='blocked'">
                <label class="label--checkbox display-inline-flex margin-top-40">
                   <input type="checkbox" class="checkbox" (change)="block()">
                   <span class="margin-h-10"></span>  {{'customer.Ban-Customers'|translate}}
               </label>
            </div>
        </div>
    </div>
</div>