<app-settings-layout [mycurrenttab]="89">
</app-settings-layout>
<div *ngIf="!showpages">
    <form [formGroup]="form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-bottom-20">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-top-20">
                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('title').invalid && form.get('title').dirty}">
                        <label class="control-label">  {{'settings-qoot.title' | translate }}
                    </label>
                        <input formControlName="title" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('title').invalid && form.get('title').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div> -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('facebook').invalid && form.get('facebook').dirty}">
                        <label class="control-label">{{'settings-qoot.facebook' | translate }}
                    </label>
                        <input formControlName="facebook" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('facebook').invalid && form.get('facebook').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('twitter').invalid && form.get('twitter').dirty}">
                        <label class="control-label">{{'settings-qoot.twitter' | translate }}
                  </label>
                        <input formControlName="twitter" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('twitter').invalid && form.get('twitter').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('instagram').invalid && form.get('instagram').dirty}">
                        <label class="control-label">{{'settings-qoot.instagram' | translate }}
                </label>
                        <input formControlName="instagram" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('instagram').invalid && form.get('instagram').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('phone').invalid && form.get('phone').dirty}">
                        <label class="control-label">{{'settings-qoot.phone' | translate }}
              </label>
                        <input formControlName="phone" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('phone').invalid && form.get('phone').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div> -->


                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('contactus_email').invalid && form.get('contactus_email').dirty}">
                        <label class="control-label">{{'settings-qoot.contactus_email' | translate }}
            </label>
                        <input formControlName="contactus_email" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('contactus_email').invalid && form.get('contactus_email').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('email').invalid && form.get('email').dirty}">
                        <label class="control-label">{{'settings-qoot.email' | translate }}
          </label>
                        <input formControlName="email" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('email').invalid && form.get('email').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>



                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('password').invalid && form.get('password').dirty}">
                        <label class="control-label">{{'settings-qoot.password' | translate }}
        </label>
                        <input formControlName="password" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('password').invalid && form.get('password').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('qoot_percentage_weeklyDeal').invalid && form.get('qoot_percentage_weeklyDeal').dirty}">
                        <label class="control-label">{{'settings-qoot.qoot_percentage_weeklyDeal' | translate }}
      </label>
                        <input formControlName="qoot_percentage_weeklyDeal" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('qoot_percentage_weeklyDeal').invalid && form.get('qoot_percentage_weeklyDeal').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('qoot_percentage_dish').invalid && form.get('qoot_percentage_dish').dirty}">
                        <label class="control-label">{{'settings-qoot.qoot_percentage_dish' | translate }}
                          </label>
                        <input formControlName="qoot_percentage_dish" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('qoot_percentage_dish').invalid && form.get('qoot_percentage_dish').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  margin-bottom-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('auto_reject_time').invalid && form.get('auto_reject_time').dirty}">
                        <label class="control-label">{{'settings-qoot.auto_reject_time' | translate }}
                          </label>
                        <input formControlName="auto_reject_time" type="number" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('auto_reject_time').invalid && form.get('auto_reject_time').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success width-50" [disabled]="form.invalid" (click)="save()">
     {{'share.Save' | translate}}
    </button>
</div>