<div *ngIf="gridAction == GridActions.Loading">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center padding-v-30">
            <div class="load-wrapp">
                <div class="load-3">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="gridAction == GridActions.Empety">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center padding-v-30">
            <img src="assets/images/no_results/no_results.jpg" class="img-responsive img-centar" />
            <h4 class="color-blu-system">لاتوجد نتائــج</h4>
        </div>
    </div>
</div>