<div class="modal-body">

    <div>
        <form [formGroup]="form">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-bottom-20">
                <div class="text-center">
                    <h3 class="modal-title" *ngIf="id==0"> {{'employee.add'|translate}} </h3>
                    <h3 class="modal-title" *ngIf="id>0"> {{'employee.update'|translate}} </h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-top-20">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('username').invalid && form.get('username').dirty}">
                            <label class="control-label">  {{'employee.username' | translate }}
                     
                     </label>
                            <input formControlName="username" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('username').invalid && form.get('username').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('email').invalid && form.get('email').dirty}">
                            <label class="control-label">  {{'employee.email' | translate }}
                     
                     </label>
                            <input formControlName="email" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('email').invalid && form.get('email').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('phone').invalid && form.get('phone').dirty}">
                            <label class="control-label">  {{'employee.phone' | translate }}
                     
                     </label>
                            <input formControlName="phone" type="tel" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('phone').invalid && form.get('phone').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('firstname').invalid && form.get('firstname').dirty}">
                            <label class="control-label"> {{'employee.firstname' | translate }}
                         
                         </label>
                            <input formControlName="firstname" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('firstname').invalid && form.get('firstname').dirty">{{ 'share.requiredandfourdigit' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('lastname').invalid && form.get('lastname').dirty}">
                            <label class="control-label"> {{'employee.lastname' | translate }}
                         
                         </label>
                            <input formControlName="lastname" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('lastname').invalid && form.get('lastname').dirty">{{ 'share.requiredandfourdigit' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('address').invalid && form.get('address').dirty}">
                            <label class="control-label"> {{'employee.address' | translate }}
                         
                         </label>
                            <input formControlName="address" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('address').invalid && form.get('address').dirty">{{ 'share.requiredandfourdigit' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('country').invalid && form.get('country').dirty}">
                            <label class="control-label"> {{'employee.country' | translate }}
                         
                         </label>
                            <input formControlName="country" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('country').invalid && form.get('country').dirty">{{ 'share.requiredandfourdigit' | translate }}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('city_id').invalid && form.get('city_id').dirty}">
                            <app-select-get-list [dataSet]="cities" label="employee.city" formControlName="city_id">
                            </app-select-get-list>
                            <span class="help-block" *ngIf="form.get('city_id').invalid && form.get('city_id').dirty">{{ 'share.requiredandfourdigit' | translate }}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('postal_code').invalid && form.get('postal_code').dirty}">
                            <label class="control-label"> {{'employee.postal_code' | translate }}
                         
                         </label>
                            <input formControlName="postal_code" type="number" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('postal_code').invalid && form.get('postal_code').dirty">{{ 'share.requiredandfourdigit' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 m-b-10">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <app-select-get-list [dataSet]="roles" label="employee.role" formControlName="role_id">
                        </app-select-get-list>
                        <span class="text-danger" *ngIf="form.get('role_id').invalid && form.get('role_id').dirty">{{'share.required' |translate}}</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('password').invalid && form.get('password').dirty}">
                            <label class="control-label"> {{'employee.password' | translate }}
                         </label>
                            <input formControlName="password" type="password" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('password').invalid && form.get('password').dirty">{{ 'share.requiredandfourdigit' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </ng-container> -->
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-md-8"> </div>
        <div class="col-md-4">
            <div class="col-lg-6">
                <button type="button" class="btn btn-sucess bg-success width-100" (click)="save()">
           {{'share.Save' | translate}}
       </button>
            </div>
            <div class="col-lg-6 ">
                <button type="button" class="btn btn-danger width-100" data-dismiss="modal" (click)="myModel.hide()"> {{'share.Close' | translate}}</button>
            </div>
        </div>


    </div>
</div>