<div class="col-xs-12">
    <div class="header-right padding-h-35">
        <nav>

            <a [class.active]="mycurrenttab==row.id" routerLink="{{row.route}}" *ngFor="let row of settingsPermission">
                <i class="{{row.icon}}"></i> <span>  </span> {{languageService.getLanguageOrDefault() == 'ar' ? row.ar_name : row.en_name}}
            </a>

        </nav>
    </div>
</div>