<div *ngIf="!showpage">
  <div class="panel-heading">
      <h5 class="panel-title"> {{'promocode'|translate}}</h5>
      <div class="heading-elements">
          <ul class="breadcrumb">
              <li>
                  {{'Home'|translate}}/ {{'promocode'|translate}}
              </li>
          </ul>
      </div>
  </div>
  <div>
      <div class="panel-heading padding-bottom-5">
          <div class="heading-menubar">

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bottom-30 ">
                  <button type="button" class="btn bg-default-color btn-full-width padding-h-30 " (click)="addpromo()">
                  <i class="fa fa-plus padding-right-15"></i>{{'share.New'|translate}}
              </button>

                 
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-bottom-30 ">

              </div>
          </div>
      </div>
  </div>
  <div class="dataTables_wrapper no-footer">
      <div class="datatable-header">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-none">
                  <div>
                      <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />
                  </div>
              </div>
         
              <!-- dataTables_length  -->
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <div class="dataTables_length form-inline">
                      <div class="form-group">
                          <label>{{ 'share.show' | translate }}:</label>
                          <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="40">50</option>
        <option value="80">100</option>
      </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="table-responsive">
          <table class="table table-bordered table-framed">
              <thead>
                  <tr>

                      <th width="10%">
                          <a (click)="pagingparamater.orderBy = 'name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                             {{'promo.name' | translate }}
                    </a>
                          <span class="pull-right">
                      <span *ngIf="pagingparamater.orderBy == 'name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                          <span *ngIf="pagingparamater.orderBy == 'name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                          </span>
                      </th>
                      <th>
                          <a (click)="pagingparamater.orderBy = 'recommendation_from'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                       {{ 'promo.recommendation_from' | translate }}
                    </a>
                          <span class="pull-right">
                      <span *ngIf="pagingparamater.orderBy == 'recommendation_from' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                          <span *ngIf="pagingparamater.orderBy == 'recommendation_from' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                          </span>
                      </th>
                      <th>
                          <a (click)="pagingparamater.orderBy = 'description'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                        {{'promo.description' | translate }}</a>
                          <span class="pull-right">
                      <span *ngIf="pagingparamater.orderBy == 'description' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                          <span *ngIf="pagingparamater.orderBy == 'description' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                          </span>
                      </th>
                      <th>
                          <a (click)="pagingparamater.orderBy = 'dis_count_value'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                       {{'promo.dis_count_value' | translate }}</a>
                          <span class="pull-right">
                         <span *ngIf="pagingparamater.orderBy == 'dis_count_value' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"  aria-hidden="true"></span>
                          <span *ngIf="pagingparamater.orderBy == 'dis_count_value' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                          </span>
                      </th>
                      <th>
                          <a (click)="pagingparamater.orderBy = 'promo_code'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">{{ 'promo.promo_code' | translate }}</a>
                          <span class="pull-right">
                      <span *ngIf="pagingparamater.orderBy == 'promo_code' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"aria-hidden="true"></span>
                          <span *ngIf="pagingparamater.orderBy == 'promo_code' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                          </span>
                      </th>
                      
                      <th>
                        <a (click)="pagingparamater.orderBy = 'start_date'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">{{ 'promo.start_date' | translate }}</a>
                        <span class="pull-right">
                    <span *ngIf="pagingparamater.orderBy == 'start_date' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"aria-hidden="true"></span>
                        <span *ngIf="pagingparamater.orderBy == 'start_date' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                        </span>
                    </th>
                    <th>
                      <a (click)="pagingparamater.orderBy = 'end_date'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">{{ 'promo.end_date' | translate }}</a>
                      <span class="pull-right">
                  <span *ngIf="pagingparamater.orderBy == 'end_date' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"aria-hidden="true"></span>
                      <span *ngIf="pagingparamater.orderBy == 'end_date' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                      </span>
                  </th>
                  <th>
                    <a (click)="pagingparamater.orderBy = 'promo_count'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">{{ 'promo.promo_count' | translate }}</a>
                    <span class="pull-right">
                <span *ngIf="pagingparamater.orderBy == 'promo_count' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"aria-hidden="true"></span>
                    <span *ngIf="pagingparamater.orderBy == 'promo_count' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                    </span>
                </th>
                      <th colspan="2">
                          {{ 'share.actions' | translate }}
                      </th>
                  </tr>
              </thead>

              <tbody>
                  <tr *ngFor="let Result of Data.data">
                      <td class="text-center">{{Result.name}}</td>
                      <td class="text-center">{{Result.recommendation_from}}</td>
                      <td class="text-center">{{Result.description}}</td>
                      <td class="text-center">{{Result.dis_count_value}}</td>
                      <td class="text-center">{{Result.promo_code}}</td>
                      <td class="text-center">{{Result.start_date}}</td>
                      <td class="text-center">{{Result.end_date}}</td>
                      <td class="text-center">{{Result.promo_count}}</td>
                      <td class="text-center">
                          <a (click)="addpromo(Result.id,Result)">
                              <i class="icon-pencil"></i>
                          </a>
                      </td>
                      <td class="text-center">
                          <a (click)="Delete(Result.id)">
                              <i class="icon-trash" aria-hidden="true"></i>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="datatable-footer">
          <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
          <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
          </pagination>
      </div>
  </div>
</div>
