<div *ngIf="!showpage">
    <div class="panel-heading">
        <h5 class="panel-title"> {{'customers'|translate}}</h5>
        <div class="heading-elements">
            <ul class="breadcrumb">
                <li>
                    {{'Home'|translate}}/ {{'customers'|translate}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="col-xs-6">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'customer.allCustomers'|translate}}</h4>
                    <h3>{{totalData.allCustomers}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('all')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4> {{'customer.unblockedCustomers'|translate}}</h4>
                    <h3>{{totalData.unblockedCustomers}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('0')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'customer.blockedCustomers'|translate}}</h4>
                    <h3>{{totalData.blockedCustomers}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('1')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer">
            <div class="datatable-header">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-none">
                        <div>
                            <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="Export()"><i class="icon-file-download"></i></button></div>
                    <!-- dataTables_length  -->
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="dataTables_length form-inline">
                            <div class="form-group">
                                <label>{{ 'share.show' | translate }}:</label>
                                <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="40">50</option>
          <option value="80">100</option>
        </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-framed">
                    <thead>
                        <tr>

                            <th width="10%">
                                <a (click)="pagingparamater.orderBy = 'firstname'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                               {{'customer.firstname' | translate }}
                      </a>
                                <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'firstname' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                                <span *ngIf="pagingparamater.orderBy == 'firstname' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                                </span>
                            </th>
                            <th>
                                <a (click)="pagingparamater.orderBy = 'lastname'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                         {{ 'customer.lastname' | translate }}
                      </a>
                                <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'lastname' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                                <span *ngIf="pagingparamater.orderBy == 'lastname' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                                </span>
                            </th>
                            <th>
                                <a (click)="pagingparamater.orderBy = 'email'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                          {{'customer.email' | translate }}</a>
                                <span class="pull-right">
                        <span *ngIf="pagingparamater.orderBy == 'email' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                                <span *ngIf="pagingparamater.orderBy == 'email' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                                </span>
                            </th>
                            <th>
                                <a (click)="pagingparamater.orderBy = 'phone'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                                   {{'customer.phone' | translate }}</a>
                                <span class="pull-right">
                           <span *ngIf="pagingparamater.orderBy == 'phone' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"  aria-hidden="true"></span>
                                <span *ngIf="pagingparamater.orderBy == 'phone' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                                </span>
                            </th>
                            <th>
                                {{ 'share.blocked' | translate }}
                            </th>
                            <th>
                                {{ 'share.actions' | translate }}
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let Result of Data?.data">
                            <td class="text-center">{{Result.customer.firstname}}</td>
                            <td class="text-center">{{Result.customer.lastname}}</td>
                            <td class="text-center">{{Result.email}}</td>
                            <td class="text-center">{{Result.phone}}</td>
                            <td class="text-center">
                                <input type="checkbox" [checked]="Result.status=='blocked'" class="checkbox" (change)="Block(Result.id)">
                            </td>
                            <td class="text-center">
                                <a class="btn btn-primary bg-default-color" routerLink="/admin/show-customer/{{Result.id}}"><i class="fa fa-view"></i>{{'share.show'|translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
                <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
                </pagination>
            </div>
        </div>
    </div>

</div>