.select-loading{
    pointer-events: none;
    opacity: 0.5;
}
@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .lds-spinner {
    position: absolute;
  }
  .lds-spinner div {
    top: 80px;
    position: absolute;
    -webkit-animation: lds-spinner linear 0.8s infinite;
    animation: lds-spinner linear 0.8s infinite;
    background: #376994;
    width: 5px;
    height: 10px;
    border-radius: 55%;
    -webkit-transform-origin: 6px 26px;
    transform-origin: 6px 22px;
  }
  .lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -0.685714285714286s;
    animation-delay: -0.685714285714286s;
  }
  .lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(51.42857142857143deg);
    transform: rotate(51.42857142857143deg);
    -webkit-animation-delay: -0.571428571428571s;
    animation-delay: -0.571428571428571s;
  }
  .lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(102.85714285714286deg);
    transform: rotate(102.85714285714286deg);
    -webkit-animation-delay: -0.457142857142857s;
    animation-delay: -0.457142857142857s;
  }
  .lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(154.28571428571428deg);
    transform: rotate(154.28571428571428deg);
    -webkit-animation-delay: -0.342857142857143s;
    animation-delay: -0.342857142857143s;
  }
  .lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(205.71428571428572deg);
    transform: rotate(205.71428571428572deg);
    -webkit-animation-delay: -0.228571428571429s;
    animation-delay: -0.228571428571429s;
  }
  .lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(257.14285714285717deg);
    transform: rotate(257.14285714285717deg);
    -webkit-animation-delay: -0.114285714285714s;
    animation-delay: -0.114285714285714s;
  }
  .lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(308.57142857142856deg);
    transform: rotate(308.57142857142856deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .lds-spinner {
    width: 0;
    right: 49%;
    z-index: 1;
    -webkit-transform: translate(-85px, -85px) scale(0.85) translate(85px, 85px);
    transform: translate(-85px, -85px) scale(0.85) translate(85px, 85px);
  }
  .tages-erb{
    position: relative;
    max-height: 105px;
    min-height: 105px;
    height: auto;
    overflow-y: scroll;
  }
  .tages-erb .label{
    display: inline-block;
    font-weight: 500;
    padding: 5px 10px;
    margin: 2px;
    line-height: 1.5384616;
    border: 1px solid transparent;
    text-transform: none;
    font-size: 10px;
    letter-spacing: 0.1px;
    border-radius: 5px;  
    cursor: pointer;
  }
  .not-allowed{
    cursor: not-allowed;
  }
  .tages-erb span i:hover{
    color: red;
  }
  .disableControle{
    pointer-events: none;
    opacity: 0.8;
  }