<!-- <div class="lds-spinner" *ngIf="selectLoading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div> -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-none">
    <label class="control-label" for="name">{{ label | translate }}
        <span class="danger" *ngIf="isRequired">*</span>
    </label>
</div>
<!-- not-allowed -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-15 padding-none">
        <input type="text" placeholder="بحث فى {{ label | translate }}" class="form-control input-sm" [(ngModel)]="filter" [disabled]="!getUnselectedItems().length && filter==''">
    </div>
</div>
<div class="form-group" [class.disableControle]="isDisabled" [class.select-loading]="selectLoading">
    <div class="form-groupcol-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
        <button class="btn btn-link btn-xs pull-left" (click)="selectAll();onChange(getSelectedItems())">تحديد الكل</button>
        <div class="form-control tages-erb">
            <h5 *ngIf="!getUnselectedItems().length" class="text-center">تم اختيار الكل</h5>
            <span class="tag label label-primary" *ngFor="let selectItem of getUnselectedItems()" (click)="selectItem.selected = true; onChange(getSelectedItems())">
                <ng-container *ngIf="languageService.getLanguageOrDefault() == 'ar'"> {{selectItem.NameArabic}}</ng-container>
                <ng-container *ngIf="languageService.getLanguageOrDefault() == 'en'"> {{selectItem.NameEnglish}}</ng-container>
            </span>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-right-0">
        <button class="btn btn-link btn-xs pull-left" (click)="unSelectAll()">إلغاء تحديد الكل</button>
        <div class="form-control tages-erb">
            <h5 *ngIf="!getSelectedItems().length" class="text-center">لا توجد أختيارات</h5>
            <span class="tag label label-success" *ngFor="let selectItem of getSelectedItems()">
                <ng-container *ngIf="languageService.getLanguageOrDefault() == 'ar'"> {{selectItem.NameArabic}}</ng-container>
                <ng-container *ngIf="languageService.getLanguageOrDefault() == 'en'"> {{selectItem.NameEnglish}}</ng-container>
                <i class="fa fa-times" (click)="selectItem.selected = false; onChange(getSelectedItems())"></i>
            </span>
        </div>
    </div>
</div>