<app-report-layout [mycurrenttab]="92">
</app-report-layout>
<div *ngIf="!showpage">
    <div>
        <div class="heading-menubar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                <div class="col-sm-2">
                    <a (click)="DownloadFile()">
                        <i class="icon-file-download"></i>{{'transaction.download'|translate}}
                    </a>
                </div>
                <div class="col-sm-2">
                    <label tabindex="0" class="lbl-img res-img outline" for="my-file-3">
                                <a>  
                                <div class="avatar-img text-center mbmd outline">
                                        <input class="input-file outline" id="my-file-3" type="file" style="display :none"  (change)="onSelectFile($event)" class="select-profile-picture">
                                          {{'transaction.Upload-the-file'|translate}}
                                  </div>
                                </a>
                        </label>
                </div>

                <button type="button" class="btn bg-default-color btn-full-width" [class.disabled]="filepath==null" (click)="Import()">
                <i class="icon-file-upload "></i>{{'transaction.savefile'|translate}}
            </button>
            </div>
        </div>
    </div>
    <div class="dataTables_wrapper no-footer ">
        <div class="datatable-header ">
            <div class="row ">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <app-select-get-list [dataSet]="allchief" label="share.kitchen" [nolabel]="true" [(ngModel)]="pagingparamater.chief_id" (getFullObj)="getData()" >
                        </app-select-get-list>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "><button class="btn bg-default-color btn-full-width padding-h-30 " (click)="Export() "><i class="icon-file-download "></i></button></div>
                <!-- dataTables_length  -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                    <div class="dataTables_length form-inline ">
                        <div class="form-group ">
                            <select class="form-control " [(ngModel)]="pagingparamater.per_page " (ngModelChange)="getData() ">
                                <option value="10 ">10</option>
                                <option value="20 ">20</option>
                                <option value="40 ">50</option>
                                <option value="100 ">100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive ">
            <table class="table table-bordered table-framed ">
                <thead>
                    <tr>
                        <th >{{'qoot-income.kitchen_name' | translate }}</th>
                        <th>{{ 'qoot-income.kitchen_owner_name' | translate }}</th>
                        <th>{{'qoot-income.revenu' | translate }}</th>
                        <th>{{'qoot-income.recieved_amount' | translate }}</th>
                        <th>{{'qoot-income.qoot_balance' | translate }}</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Result of Data?.data ">
                        <td>{{Result.chief.kitchen_name}}</td>
                        <td>{{Result.chief.kitchen_owner_name}}</td>
                        <td>{{Result.chief_profit}}</td>
                        <td>{{Result.recieved_amount}}</td>
                        <td>{{Result.remaining_amount}}</td>
                     
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer ">
            <div class="dataTables_info "> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination " [maxSize]="5 " [totalItems]="Data.total " [(ngModel)]="Data.current_page " (pageChanged)="pageChanged($event) " previousText="<< " [disabled]="loading " nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>