<div class="col-xs-12">
    <div class="header-right padding-h-35">
        <nav>

            <ng-container *ngFor="let row of settingsPermission">
                <a [class.active]="mycurrenttab==row.id" routerLink="{{row.route}}">
                    <i class="{{row.icon}}"></i> <span></span> {{languageService.getLanguageOrDefault() == 'ar' ? row.ar_name : row.en_name}}
                </a>
            </ng-container>
        </nav>
    </div>
</div>