
<div *ngIf="!loading">
    <div class="row">
        <h3 class="text-center">{{'order.order-details'|translate}}</h3>
        <div class="col-xs-6">
            <div class="col-xs-12 hr-condensed">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">  {{'order.customerName'|translate}}:
                        <span >{{Data.customer.firstname}} {{Data.customer.lastname}}</span>
                    </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label"> {{'order.phone'|translate}} :
                    <span >{{Data.customer.user.phone}}</span>
                </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 hr-condensed">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label"> {{'order.email'|translate}}:
                        <span >{{Data.customer.user.email}}</span>
                    </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">   {{'order.address'|translate}} :
                            <span >{{Data.address.area}}</span>
                        </label>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 ">
            <div class="col-xs-12 hr-condensed">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">  {{'order.code'|translate}}:
                        <span >{{Data.code}}</span>
                    </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">  {{'order.kitchen_name'|translate}} :
                    <span >{{Data.chief.kitchen_name}}</span>
                </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 hr-condensed">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">  {{'order.date'|translate}}:
                        <span >{{Data.date}}</span>
                    </label>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label"> {{'order.information'|translate}}  :
                            <span >{{Data.address.delivery_instructions}}</span>
                        </label>

                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">{{'order.payment'|translate}}  :
                            <span > {{languageService.getLanguageOrDefault()=='ar' ? Data.paymentmethod.ar_name :Data.paymentmethod.en_name}}</span>
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>
                        <th>
                            {{'order.item'|translate}}
                        </th>
                        <th class="text-center" width="10%">{{'order.price'|translate}}</th>
                        <th>
                            {{'order.quantity'|translate}}
                        </th>
                        <th>
                            {{'order.total'|translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Result of Data?.dishes">
                        <td class="text-center">{{Result.ar_name}}</td>
                        <td class="text-center">{{Result.price}}</td>
                        <td class="text-center">{{Result.pivot.quantity}}</td>
                        <td class="text-center">{{Result.price * Result.pivot.quantity}}</td>
                    </tr>
                    <tr *ngFor="let Result of Data?.weeklydeals">
                        <td class="text-center">{{Result.ar_name}}</td>
                        <td class="text-center">{{Result.price}}</td>
                        <td class="text-center">{{Result.pivot.quantity}}</td>
                        <td class="text-center">{{Result.price * Result.pivot.quantity}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-top-20 margin-bottom-30">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
            <div class="form-group">
                <label class="control-label">  {{'order.total' | translate }}
                </label>
                <input value="{{Data.NetTotal}}" type="text" class="form-control input-md" readonly>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
            <div class="form-group">
                <label class="control-label">{{'order.delivary-fees' | translate }}
                </label>
                <input value="{{Data.delivery_fee}}" type="text" class="form-control input-md" readonly>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
            <div class="form-group">
                <label class="control-label">{{'order.NetTotal' | translate }}
                </label>
                <input value="{{NetTotal}}" type="text" class="form-control input-md" readonly>
            </div>
        </div>
    </div>

    <div class="modal-footer margin-top-20 margin-bottom-20">
        <!-- /// في حاله اني الاوردر تم تسليمه خلاص  -->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" *ngIf="Data.status=='delivered'">
            <button type="button" class="btn btn-success full" [class.disabled]="true">
                {{'order.delivered'|translate}}
            </button>
        </div>
       <!-- /// في حاله اني الاوردر   لسه متكريت ي اما Accept or reject  -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status=='pending'">
            <button type="button" class="btn btn-success full " (click)="UpdateStatus('confirmed')">
                {{'order.confirmed'|translate}}
            </button>
        </div>


        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status!='delivered'&& Data.status!='auto-rejected' && Data.status!='rejected' && Data.status!='canceled-by-chief' && Data.status!='ontheway' && Data.status!='canceled-by-customer'">
            <button type="button" class="btn btn-danger full" (click)="UpdateStatus('rejected')">
                {{'order.rejected'|translate}}
            </button>
        </div> -->

  <!-- /// في حاله اني الاوردر   confirmed     -->
     

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status=='auto-rejected'">
    <button type="button" class="btn btn-danger full " [class.disabled]="true">
        {{'order.autoRejected'|translate}}
    </button>
</div>

        

       <!-- /// في حاله اني الاوردر   confirmed     -->
     

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status=='confirmed'">
            <button type="button" class="btn btn-success full " (click)="UpdateStatus('ontheway')">
                {{'order.ontheway'|translate}}
            </button>
        </div>
        
       <!-- /// في حاله اني الاوردر   confirmed     -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status=='ontheway'">
            <button type="button" class="btn btn-success full" (click)="UpdateStatus('delivered')">
                {{'order.delivered'|translate}}
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status!='delivered'&& Data.status!='rejected'&& Data.status!='auto-rejected' && Data.status!='canceled-by-chief'&& Data.status!='pending' && Data.status!='ontheway' && Data.status!='canceled-by-customer'">
            <button type="button" class="btn btn-danger full" (click)="UpdateStatus('canceled-by-admin')">
                canceled-by-admin {{'order.cancebyadmin'|translate}}
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status=='rejected'">
            <button type="button" class="btn btn-danger full" [class.disabled]="true">
                {{'order.rejected'|translate}}
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status=='canceled-by-chief'">
            <button type="button" class="btn btn-danger full">
                {{'order.canceledByChief'|translate}}
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="Data.status=='canceled-by-customer'">
            <button type="button" class="btn btn-primary full">
                {{'order.canceled-by-customer'|translate}}
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <button type="button" class="btn btn-danger full" (click)="myModel.hide()"> {{'share.Close' | translate}}</button>
        </div>
    </div>

</div>