<div class="login-container">
    <div class="page-container">
        <div class="page-content">
            <div class=" container content-wrapper">
                <div class="  row content">
                    <form [formGroup]="form" class="login col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 ">
                        <div class="panel panel-body login-form border-radius-all-5 " filter-color="black">
                            <div class="text-center logo-center" filter-color="black">
                                <img src="/assets/images/logo-system/logo-system.png" style="max-width:27%;margin-left: 35%;" class="img-responsive margin-auto" />
                                <h5 class="content-group"></h5>
                            </div>
                            <div class="form-group has-feedback has-feedback-left margin-bottom-20" [ngClass]="{'has-error':form.get('LoginField').invalid && form.get('LoginField').dirty}">
                                <input type="text" class="form-control" placeholder="{{'login.UsernameorEmail' | translate}}" formControlName="LoginField">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted colorIcon"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left margin-bottom-20" [ngClass]="{'has-error':form.get('Password').invalid && form.get('Password').dirty}">
                                <input type="password" class="form-control" placeholder=" {{'login.password' | translate}}" name="Password" formControlName="Password">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted colorIcon"></i>
                                </div>
                            </div>
                            <div class="row margin-bottom-20">
                            </div>
                            <div class="form-group">
                                <button (click)="login()" class="btn bg-pink-400 btn-block"> {{'login.login' |translate}}
                                  <!-- <i *ngIf="loading" class="fa fa-cog fa-spin fa-fw"></i> -->
                                </button>
                            </div>
                            <div class="footer  text-center">
                                {{'login.copyright' | translate}} &copy; 2019
                                <br>
                                <a href="https://start-it.online/" target="_blank">{{'login.Birdcloud' | translate}}
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-notify></app-notify>