
.login-container  {
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./../../../../assets/images/logo-system/bg-login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  
  .login-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;

  } 

   .page-container
  {
      z-index: 1;
  }

/* .login-container {
    background: url(./../../../../assets/images/logo-system/bg-login.png) center no-repeat #294b67;
    background-size: cover;
    padding: 10% 0;
} */


.footer {
    position: relative;
    bottom: 0;
}

.bg-pink-400 {
    background-color: #a2185b;
    border-color: #a2185b;
    color: #fff;
    font-family: 'Cairo', sans-serif;
    padding: 7px;
    font-size: 15px;
    width: 100%;
}

.bg-pink-400:hover {
    background-color: #a2185bf0;
    border-color: #a2185bf0;
}

.colorIcon {
    color: #2a4b68 !important;
}

.text-muted {
    color: #fff;
}

a {
    color: #ffffff;
    text-decoration: none;
}


/***********************************************************************************************
** @media Quarey **
************************************************************************************************/
/* 
@media (max-width: 768px) {
    .login-container {
        background: #294b67;
        padding: 36% 0;
    }
} */

/* @media (max-width: 1024px) {
    .login-container {
        background: #294b67;
        padding: 40% 0;
    }
} */


/***********************************************************************************************
** End @media Quarey **
************************************************************************************************/

body {
    position: fixed;
    font-family: 'Cairo', sans-serif;
}

.login .footer {
    font-family: 'Cairo', sans-serif;
    color: black
}

.login .footer a {
    color: black;
    text-decoration: underline;
}

.has-feedback .form-control {
    font-family: 'Cairo', sans-serif;
    font-size: 13px;
    text-align: right;
    height: 38px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7 !important;
    border-color: transparent !important;
}

/* .login-container .page-container .login-form,
.panel-body {
    width: 35%;
    padding: 50px 30px;
    margin-left: 32%;
} */

.panel {
    background-color: snow;
}

.logo-center {
    margin-bottom: 40px;
}