<div *ngIf="!showpage">
    <div class="panel-heading">
        <h5 class="panel-title"> مطبخ: {{Data.chief.kitchen_name}} </h5>
        <div class="heading-elements">
            <ul class="breadcrumb">
                <li>
                    {{'Home'|translate}}/ {{'kitchen.kitchen-profile'|translate}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="header-right padding-h-35">
            <nav>
                <a (click)="tab=1" [class.active]="tab==1">
                    <i class="fa fa-user"></i> <span></span> {{'kitchen.kitchen-profile'|translate}}
                </a>
                <a (click)="tab=2" [class.active]="tab==2">
                    <i class="fa fa-cutlery"></i> <span></span>{{'kitchen.menu'|translate}}  
                </a>
                <a (click)="tab=3" [class.active]="tab==3">
                  <i class="fa fa-hourglass-end"></i>  <span></span>{{'kitchen.orders'|translate}} 
                </a>
                <a (click)="tab=4" [class.active]="tab==4">
                    <i class="fa fa-money"></i>   <span></span>{{'kitchen.wallet'|translate}} 
                </a>
            </nav>
        </div>

        <!-- ///profile -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" [class.active]="tab==1">
                <h5 class="hr-condensed title"> {{'kitchen.kitchen-profile'|translate}}</h5>
                <div class="col-xs-9  hr-condensed">
                    <div class="col-xs-12 hr-condensed">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label"> {{'kitchen.kitchen_name'|translate}}:
                                        <span >{{Data.chief.kitchen_name}} </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label"> {{'kitchen.kitchen_owner_name'|translate}}:
                                        <span >{{Data.chief.kitchen_name}} </span>
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 hr-condensed">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label"> {{'kitchen.maaroof'|translate}}  :
                                        <span >{{Data.chief.maroof_number}} </span>
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">{{'kitchen.phone'|translate}}:
                                        <span >{{Data.phone}} </span>
                                    </label>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 hr-condensed">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label"> {{'kitchen.email'|translate}}:
                                        <span >{{Data.email}} </span>
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">{{'kitchen.instgram'|translate}}:
                                        <span >{{Data.chief.instagram_page}} </span>
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 hr-condensed">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label"> {{'kitchen.address'|translate}} :
                                    <span >{{Data.chief.address}} </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">{{'kitchen.city'|translate}}:
                                    <span >{{Data.chief.city.ar_name}} </span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- /// favourite -->
            <div role="tabpanel" class="tab-pane" [class.active]="tab==2">
                <h5 class="hr-condensed title">{{'kitchen.menu'|translate}}</h5>
                <div class="col-xs-12 hr-condensed">
                    <div class="row ">
                        <ng-container *ngFor="let row of Data.alldishes">
                            <div class="col-md-4 col-sm-6 margin-top-20">
                                <div class="mbxlg">
                                    <div class="product-item">
                                        <figure class="cover margin-bottom-15" [ngStyle]="{'background':'url('+ myURL+ row.img1+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover' }">
                                          
                                        </figure>
                                        <div class="product-info">
                                            <h3 class="no-margin mtmd mbmd">
                                                <a>
                                                    {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}
                                                </a>
                                            </h3>
                                            <h6 class="margin-top-15">
                                                {{languageService.getLanguageOrDefault()=='ar' ? row.ar_description :row.en_description}}
                                            </h6>
                                            <div class="price margin-top-15">{{row.price}}</div>
                                            <div class="meal-data mtmd mbmd margin-bottom-15">
                                                <span class="mrlg">
                                                   <img class="mrsm" src="assets/images/icon-shortcut/time.svg">
                                                     {{'share.In'|translate}} {{row.preparation_time_value}}  {{row.preparation_time_type}}
                                                </span>
                                                <span>
                                                   <img class="mrsm" src="assets/images/icon-shortcut/person.svg">
                                                    {{row.no_persons}} {{'share.person'|translate}}
                                                </span>
                                              
                                            </div>
                                            <div class="meal-data mtmd mbmd margin-bottom-15">
                                            <span>
                                                {{row.quantity}} {{row.unit?.ar_name}}
                                            </span>
                                            </div>
                                            <div class="meal-data mtmd mbmd margin-bottom-15">
                                                <ng-container *ngFor="let day of row.days">
                                                    <span class="price margin-top-15"> {{languageService.getLanguageOrDefault()=='ar' ? day.ar_name :day.en_name}}</span>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
               
                <div class="col-xs-12 hr-condensed">
                    <h5 class="hr-condensed title">{{'kitchen.weekelyDeals'|translate}}</h5>
                    <div class="row ">
                        <ng-container *ngFor="let row of Data.allweeklyDeals">
                            <div class="col-md-4 col-sm-6 margin-top-20">
                                <div class="mbxlg">
                                    <div class="product-item">
                                        <figure class="cover margin-bottom-15" [ngStyle]="{'background':'url('+ myURL+ row.img+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover' }">
                                        </figure>
                                        <div class="product-info">
                                            <h3 class="no-margin mtmd mbmd">
                                                <a>
                                                    {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}
                                                </a>
                                            </h3>
                                            <h6 class="margin-top-15">
                                                {{languageService.getLanguageOrDefault()=='ar' ? row.ar_description :row.en_description}}
                                            </h6>
                                            <div class="price margin-top-15">{{row.price}}</div>
                                            <div class="meal-data mtmd mbmd margin-bottom-15">
                                                <span class="mrlg">
                                                   <img class="mrsm" src="assets/images/icon-shortcut/time.svg">
                                                     {{'share.In'|translate}} {{row.preparation_time_value}}  {{row.preparation_time_type}}
                                                </span>
                                                <span>
                                                   <img class="mrsm" src="assets/images/icon-shortcut/person.svg">
                                                    {{row.no_persons}} {{'share.person'|translate}}
                                                </span>
                                               
                                            </div>
                                            <div class="meal-data mtmd mbmd margin-bottom-15">
                                                <ng-container *ngFor="let day of row.days">
                                                    <span class="price margin-top-15"> {{languageService.getLanguageOrDefault()=='ar' ? day.ar_name :day.en_name}}</span>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <!-- /// orders -->
            <div role="tabpanel" class="tab-pane" [class.active]="tab==3">
                <h5 class="hr-condensed title">{{'kitchen.orders'|translate}} </h5>
                <div class="col-xs-12 hr-condensed">
                    <div class="table-responsive">
                        <table class="table table-bordered table-framed">
                            <thead>
                                <tr>
                                    <th>{{'kitchen.orderNo'|translate}}</th>
                                    <th>{{'kitchen.total'|translate}}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let row of Data.orders">
                                    <td class="text-center">{{row.code}}</td>
                                    <td class="text-center">{{row.NetTotal}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td class="text-center">{{'kitchen.total'|translate}}</td>
                                <td class="text-center">{{orderTotal}}</td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /// wallet -->
    <div role="tabpanel" class="tab-pane" [class.active]="tab==4">                         
            <div class="col-xs-12">
                <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                        <div class="text-center color_braun">
                            <h4>{{'kitchen.revenu'|translate}}</h4>
                            <h3>{{Data.wallet.revenu}}</h3>
                        </div>
                    </div>
                </div>
                <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                        <div class="text-center color_braun">
                            <h4>ربح المطبخ</h4>
                            <h3>{{Data.wallet.chief_profit}}</h3>
                        </div>
                    </div>
                </div>
    
            <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>المبلغ المستلم</h4>
                        <h3>{{Data.wallet.recieved_amount}}</h3>
                    </div>
                </div>
            </div>

            <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>المبلغ المتبقي</h4>
                        <h3>{{Data.wallet.remaining_amount}}</h3>
                    </div>
                </div>
            </div>

            <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>نسبة قوت</h4>
                        <h3>{{Data.wallet.qoot_percentage}}</h3>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-xs-12">
                <h5 class="hr-condensed"> {{'kitchen.accountDetails'|translate}}</h5>
          
                   
              <div class="col-xs-12 margin-top-20">
                    <div class="col-xs-3">
                        <label class="control-label">{{'kitchen.account_name'|translate}} :</label>
                    </div>
                    <div class="col-xs-9 account">
                        <span  >{{Data.bankAccount?.account_name}} </span>
                    </div>
               
                </div>
            
                <div class="col-xs-12 margin-top-20">
                    <div class="col-xs-3">
                        <label class="control-label"> {{'kitchen.iban_no'|translate}}:
                           
                        </label>
                    </div>
                    <div class="col-xs-9 account">
                        <span >{{Data.bankAccount?.iban_no}} </span>
                    </div>
                </div>

                <div class="col-xs-12 margin-top-20">
                    <div class="col-xs-3">
                        <label class="control-label"> {{'kitchen.account_no'|translate}}:</label>
                    </div>
                    <div class="col-xs-9 account">
                        <span>{{Data.bankAccount?.account_no}} </span>
                    </div>
                </div>

                
                <div class="col-xs-12 margin-top-20">
                    <div class="col-xs-3">
                        <label class="control-label"> {{'kitchen.branch'|translate}}:
                        </label>
                    </div>
                    <div class="col-xs-9 account">
                        <span >{{Data.bankAccount?.branch}} </span>
                    </div>
                </div>

    </div>
    <div class="col-xs-12">
                <h5 class="hr-condensed">{{'kitchen.transactions'|translate}} </h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-framed">
                        <thead>
                            <tr>
                                <th>{{'kitchen.Payment-Date'|translate}}  </th>
                                <th> {{'kitchen.Paid-Value'|translate}}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let row of Data.transactions">
                                <td class="text-center">{{row.value}}</td>
                                <td class="text-center">{{row.created_at}}</td>
                            </tr>
                        </tbody>
                    
                    </table>
                </div>
            </div>    
        </div>
    </div>
    </div>
    <div class="col-xs-3">
        <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor text-center">
            <div class="form-group" [ngStyle]="{'background':'url(' + Data.cover+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover' }">
                <img width="150px" class="margin-top-40" src="{{Data.avatar}}">
            </div>
            <div class="form-group">
                <label class="label--checkbox display-inline-flex margin-top-40">
                
                <span class="margin-h-10"></span>{{Data.chief.kitchen_name}} 
            </label>
            </div>
            
        </div>

    </div>
    <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <div>
                <label class="">
                        <input  type="radio" name="status" [checked]="Data.chief.is_approved=='approved'"  (change)="approve('approved')">
                        <small>{{'kitchen.approved'|translate}}</small></label>
            </div>
        </div>
    </div>
    <div class=" col-lg-1 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <div>
                <label >
                        <input type="radio" name="status" [checked]="Data.chief.is_approved=='rejected'" (change)="approve('rejected')">
                        <small>{{'kitchen.rejected'|translate}}</small></label>
            </div>
        </div>
    </div>
</div>