tfoot {
    font-size: 20px;
    background: #ddd;
}

.product-slider {
    margin: 5px
}

.product-item {
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 6px rgba(215, 215, 215, 0.5);
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    outline: 0
}

.product-item figure {
    height: 175px;
    border-radius: 10px 10px 0 0;
    position: relative
}

.product-item figure .btn-group {
    position: absolute;
    top: 10px;
    left: 15px
}

.product-item figure .btn-group .btn {
    padding: 0;
    min-width: auto;
    background: transparent;
    outline: 0;
    box-shadow: none;
    margin: 0;
    color: #fff
}

.product-item figure .btn-group .btn:hover,
.product-item figure .btn-group .btn:focus {
    color: #fff;
    background-color: transparent
}

.product-item figure .btn-group .dropdown-menu {
    right: initial;
    left: 0;
    padding: 10px;
    border-radius: 10px
}

.product-item figure .btn-group .dropdown-menu li {
    border-top: 1px solid #D8D8D8
}

.product-item figure .btn-group .dropdown-menu li a {
    padding: 5px;
    color: #7B7B7B;
    font-size: 14px
}

.product-item figure .btn-group .dropdown-menu li a:hover {
    background: transparent;
    color: #7FB017
}

.product-item figure .btn-group .dropdown-menu li:first-child {
    border-top: 0
}

.product-item figure .btn-group .dropdown-menu li:first-child a {
    padding-top: 0
}

.product-item figure .btn-group .dropdown-menu li:last-child a {
    padding-bottom: 0
}

.product-item .btn {
    display: inline-block;
    min-width: 140px;
    margin-top: -21px;
    font-size: 18px;
    position: relative
}

.product-info {
    padding: 0 20px
}

.product-info h3 a {
    display: block;
    font-size: 20px;
    color: #696969;
    background: #EBEBEB;
    border-radius: 25px;
    padding: 15px
}

.product-info .price {
    font-size: 22px;
    color: #7FB017;
    font-weight: 700
}

.product-info .meal-data span {
    display: inline-block;
    padding: 0
}

.product-info .meal-data span img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px
}
.account{
    font-size: large;
    background-color: #f5f5f5;
    text-align: center;
    /* width: 20px; */
    font-weight: 900;
    padding: 10px;
}