<div class="modal-body">

  <div>
      <form [formGroup]="form">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-bottom-20">
              <div class="text-center">
                  <h3 class="modal-title" *ngIf="id==0"> {{'promo.add'|translate}} </h3>
                  <h3 class="modal-title" *ngIf="id>0"> {{'promo.update'|translate}} </h3>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-top-20">

                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                      <div class="form-group" [ngClass]="{'has-error':form.get('name').invalid && form.get('name').dirty}">
                          <label class="control-label">  {{'promo.name' | translate }}
                   
                   </label>
                          <input formControlName="name" type="text" class="form-control input-md">
                          <span class="help-block" *ngIf="form.get('name').invalid && form.get('name').dirty">{{ 'share.required' | translate }}</span>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                      <div class="form-group" [ngClass]="{'has-error':form.get('recommendation_from').invalid && form.get('recommendation_from').dirty}">
                          <label class="control-label">  {{'promo.recommendation_from' | translate }}
                   
                   </label>
                          <input formControlName="recommendation_from" type="text" class="form-control input-md">
                          <span class="help-block" *ngIf="form.get('recommendation_from').invalid && form.get('recommendation_from').dirty">{{ 'share.required' | translate }}</span>
                      </div>
                  </div>


                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                      <div class="form-group" >
                          <label class="control-label">  {{'promo.description' | translate }}
                   </label>
                          <input formControlName="description" type="text" class="form-control input-md">
                      </div>
                  </div>
               
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                      <div class="form-group" [ngClass]="{'has-error':form.get('promo_count').invalid && form.get('promo_count').dirty}">
                          <label class="control-label"> {{'promo.promo_count' | translate }}
                       
                       </label>
                          <input formControlName="promo_count" type="text" class="form-control input-md">
                          <span class="help-block" *ngIf="form.get('promo_count').invalid && form.get('promo_count').dirty">{{ 'share.required' | translate }}</span>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                      <div class="form-group" [ngClass]="{'has-error':form.get('start_date').invalid && form.get('start_date').dirty}">
                          <label class="control-label"> {{'promo.start_date' | translate }}
                       
                       </label>
                          <input formControlName="start_date" bsDatepicker type="text" class="form-control input-md">
                          <span class="help-block" *ngIf="form.get('start_date').invalid && form.get('start_date').dirty">{{ 'share.required' | translate }}</span>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                      <div class="form-group" [ngClass]="{'has-error':form.get('end_date').invalid && form.get('end_date').dirty}">
                          <label class="control-label"> {{'promo.end_date' | translate }}
                       
                       </label>
                          <input formControlName="end_date" type="text" class="form-control input-md" bsDatepicker>
                          <span class="help-block" *ngIf="form.get('end_date').invalid && form.get('end_date').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                  </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20">
               
                    <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div>
                                <label>
                                    <input  type="radio" formControlName="dis_count_type" [value]="2" (change)="type(2)">
                                    <small>{{'promo.value'|translate}}</small></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div>
                                <label >
                                        <input type="radio" formControlName="dis_count_type" [value]="1" (change)="type(1)">
                                        <small>{{'promo.percntage'|translate}}</small></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('dis_count_value').invalid && form.get('dis_count_value').dirty}">
                            <label class="control-label"> {{'promo.dis_count_value' | translate }}
                         </label>
                            <input formControlName="dis_count_value" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('dis_count_value').invalid && form.get('dis_count_value').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('promo_code').invalid && form.get('promo_code').dirty}">
                            <label class="control-label"> {{'promo.promo_code' | translate }}
                         
                         </label>
                            <input formControlName="promo_code" type="text" class="form-control input-md" readonly>
                            <span class="help-block" *ngIf="form.get('promo_code').invalid && form.get('promo_code').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                       
                    </div>
                    <div class=" col-lg-1 col-md-6 col-sm-6 col-xs-12 margin-top-30" *ngIf="form.get('id').value==0">
                        <button class="btn btn-primary" (click)="generate()">{{'promo.genetate'|translate}}</button>
                    </div>


              </div>
      
          </div>
          <!-- </ng-container> -->
      </form>
  </div>
  <div class="modal-footer">
      <div class="col-md-8"> </div>
      <div class="col-md-4">
          <div class="col-lg-6">
              <button type="button" class="btn btn-sucess bg-success width-100" (click)="save()">
         {{'share.Save' | translate}}
     </button>
          </div>
          <div class="col-lg-6 ">
              <button type="button" class="btn btn-danger width-100" data-dismiss="modal" (click)="myModel.hide()"> {{'share.Close' | translate}}</button>
          </div>
      </div>


  </div>
</div>