<div class="modal-body text-center">
    <h5>
        <p *ngIf="languageService.getLanguageOrDefault() == 'ar'">{{arMsg}}</p>
        <p *ngIf="languageService.getLanguageOrDefault() == 'en'">{{enMsg}}</p>
    </h5>
    <button type="button" class="btn btn-default" (click)="confirm()">{{languageService.getLanguageOrDefault() == 'ar' ? 'نعم': 'Yes  '}}</button>
    <button type="button" class="btn btn-primary" (click)="decline()">{{languageService.getLanguageOrDefault() == 'ar' ? 'لا': 'No  '}}</button>
</div>