<app-settings-layout [mycurrenttab]="87">
</app-settings-layout>
<div *ngIf="!showpages">
    <form [formGroup]="form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-bottom-20">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-top-20">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('ar_text_1').invalid && form.get('ar_text_1').dirty}">
                        <label class="control-label">  {{'about-us.ar_text_1' | translate }}
                  </label>
                        <input formControlName="ar_text_1" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('ar_text_1').invalid && form.get('ar_text_1').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('en_text_1').invalid && form.get('en_text_1').dirty}">
                        <label class="control-label">{{'about-us.en_text_1' | translate }}
                  </label>
                        <input formControlName="en_text_1" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('en_text_1').invalid && form.get('en_text_1').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('ar_text_about').invalid && form.get('ar_text_about').dirty}">
                        <label class="control-label">{{'about-us.ar_text_about' | translate }}
                </label>
                        <input formControlName="ar_text_about" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('ar_text_about').invalid && form.get('ar_text_about').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('en_text_about').invalid && form.get('en_text_about').dirty}">
                        <label class="control-label">{{'about-us.en_text_about' | translate }}
              </label>
                        <input formControlName="en_text_about" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('en_text_about').invalid && form.get('en_text_about').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('ar_text_location').invalid && form.get('ar_text_location').dirty}">
                        <label class="control-label">{{'about-us.ar_text_location' | translate }}
            </label>
                        <input formControlName="ar_text_location" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('ar_text_location').invalid && form.get('ar_text_location').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('en_text_location').invalid && form.get('en_text_location').dirty}">
                        <label class="control-label">{{'about-us.en_text_location' | translate }}
          </label>
                        <input formControlName="en_text_location" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('en_text_location').invalid && form.get('en_text_location').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20 ">
                    <div class="form-group" [ngClass]="{'has-error':form.get('ar_text_search').invalid && form.get('ar_text_search').dirty}">
                        <label class="control-label">{{'about-us.ar_text_search' | translate }}
                      </label>
                        <input formControlName="ar_text_search" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('ar_text_search').invalid && form.get('ar_text_search').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('en_text_search').invalid && form.get('en_text_search').dirty}">
                        <label class="control-label">{{'about-us.en_text_search' | translate }}
                    </label>
                        <input formControlName="en_text_search" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('en_text_search').invalid && form.get('en_text_search').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>




                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('ar_text_search').invalid && form.get('ar_text_search').dirty}">
                        <label class="control-label">{{'about-us.ar_text_search' | translate }}
                  </label>
                        <input formControlName="ar_text_search" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('ar_text_search').invalid && form.get('ar_text_search').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('en_text_order').invalid && form.get('en_text_order').dirty}">
                        <label class="control-label">{{'about-us.en_text_order' | translate }}
                </label>
                        <input formControlName="en_text_order" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('en_text_order').invalid && form.get('en_text_order').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>




                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('ar_text_enjoy').invalid && form.get('ar_text_enjoy').dirty}">
                        <label class="control-label">{{'about-us.ar_text_enjoy' | translate }}
              </label>
                        <input formControlName="ar_text_enjoy" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('ar_text_enjoy').invalid && form.get('ar_text_enjoy').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12 margin-top-20">
                    <div class="form-group" [ngClass]="{'has-error':form.get('en_text_enjoy').invalid && form.get('en_text_enjoy').dirty}">
                        <label class="control-label">{{'about-us.en_text_enjoy' | translate }}
            </label>
                        <input formControlName="en_text_enjoy" type="text" class="form-control input-md">
                        <span class="help-block" *ngIf="form.get('en_text_enjoy').invalid && form.get('en_text_enjoy').dirty">{{ 'share.required' | translate }}</span>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success width-50" (click)="save()">
   {{'share.Save' | translate}}
</button>

</div>