<app-report-layout [mycurrenttab]="98">
</app-report-layout>
<div *ngIf="!showpage">
    <div>
        <div class="heading-menubar">

        </div>
    </div>

    <div>
      <div class="col-xs-4">
          <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
              <div class="text-center color_move">
                  <h4>{{'visitor.allVisitors'|translate}}</h4>
                  <h3>{{totalData.allVisitors}}</h3>

              </div>
          </div>
      </div>
      <div class="col-xs-4">
          <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
              <div class="text-center color_move">
                  <h4>{{'visitor.allVisitorsChief'|translate}}</h4>
                  <h3> {{totalData.allVisitorsChief}}</h3>

              </div>
          </div>
      </div>
      <div class="col-xs-4">
          <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
              <div class="text-center color_move">
                  <h4>{{'visitor.allVisitorsThisMonth'|translate}}</h4>
                  <h3> {{totalData.allVisitorsThisMonth}}</h3>

              </div>
          </div>
      </div>
     
  </div>

    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <app-select-get-list [dataSet]="allchief" label="share.kitchen" [nolabel]="true" [(ngModel)]="pagingparamater.chief_id">
                        </app-select-get-list>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label color_dark" for="date">{{'share.from' |translate}} </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="input-group">

                                <input type="text" placeholder="" class="form-control" [(ngModel)]="StartDate" bsDatepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label color_dark " for="date">{{'share.to' |translate}}
                         </label>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <div class="input-group">

                                <input type="text" placeholder="" class="form-control" [(ngModel)]="EndDate" bsDatepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="getData()"><i class="icon-search4"></i></button></div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="Export()"><i class="icon-file-download"></i></button></div>
                <!-- dataTables_length  -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">

                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>
                        <th>{{'visitor.Date' | translate }}</th>
                        <th>{{'visitor.novisitor' | translate }}</th>
                      
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Result of Data?.data">
                        <td>{{Result.date}}</td>
                        <!-- <td *ngIf="Result.type=='home'">للموقع</td>
                        <td *ngIf="Result.type=='kitchen'">للمطبخ</td> -->
                   
                        <td>{{Result.visitors_count}}</td>
                      
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>
