<div *ngIf="!showpage">
    <div class="panel-heading">
        <h5 class="panel-title"> {{'Kitchens'|translate}}</h5>
        <div class="heading-elements">
            <ul class="breadcrumb">
                <li>
                    {{'Home'|translate}}/ {{'Kitchens'|translate}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="col-xs-4">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'kitchen.Total_Kitchens'|translate}}</h4>
                    <h3>{{totalData.allChiefs}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color" (click)="view('all')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4> {{'kitchen.New_Kitchens'|translate}}</h4>
                    <h3>{{totalData.pendingChiefs}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color " (click)="view('pending')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'kitchen.Active_Kitchens'|translate}}</h4>
                    <h3>{{totalData.activeChiefs}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color " (click)="view('active')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'kitchen.Inactive_Kitchens'|translate}}</h4>
                    <h3>{{totalData.inActiveChiefs}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color " (click)="view('inactive')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center sizeicon-font">

                </div>
                <div class="text-center color_move">
                    <h4>{{'kitchen.Blocked_Kitchens'|translate}}</h4>
                    <h3>{{totalData.blockedChiefs}}</h3>
                    <button class="btn btn-secondary btn-lg bg-default-color " (click)="view('blocked')">{{'share.show'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-none">
                    <div class="">
                        <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="Export()"><i class="icon-file-download"></i></button></div>
                <!-- dataTables_length  -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">
                            <label>{{ 'share.show' | translate }}:</label>
                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="40">50</option>
							<option value="80">100</option>
						</select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>
                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'kitchen_name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                                 {{'kitchen.kitchen_name' | translate }}
                            </a>
                            <span class="pull-right">
                          <span *ngIf="pagingparamater.orderBy == 'kitchen_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'kitchen_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'kitchen_owner_name'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                           {{ 'kitchen.kitchen_owner_name' | translate }}
                        </a>
                            <span class="pull-right">
                          <span *ngIf="pagingparamater.orderBy == 'kitchen_owner_name' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'kitchen_owner_name' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'phone'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                            {{'kitchen.phone' | translate }}</a>
                            <span class="pull-right">
                          <span *ngIf="pagingparamater.orderBy == 'phone' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'phone' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'email'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                           {{'kitchen.email' | translate }}</a>
                            <span class="pull-right">
                             <span *ngIf="pagingparamater.orderBy == 'email' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"  aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'email' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th>
                            <a (click)="pagingparamater.orderBy = 'maroof_number'; pagingparamater.isAscending = !pagingparamater.isAscending;  getData();">
                              {{'kitchen.maaroof' | translate }}
                           </a>
                            <span class="pull-right">
							<span *ngIf="pagingparamater.orderBy == 'maroof_number' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes"
							 aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'maroof_number' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>
                        <th class="text-center" width="5%">{{ 'kitchen.status' | translate }}</th>
                        <!-- <th class="text-center" width="10%">{{ 'kitchen.status' | translate }}</th> -->
                        <th class="text-center">
                            {{ 'share.actions' | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Result of Data?.data">
                        <td class="text-center">{{Result.chief.kitchen_name}}</td>
                        <td class="text-center">{{Result.chief.kitchen_owner_name}}</td>
                        <td class="text-center">{{Result.phone}}</td>
                        <td class="text-center">{{Result.email}}</td>
                        <td class="text-center">{{Result.chief.maroof_number}}</td>
                        <!-- <td class="text-center">
                            <input type="checkbox" [checked]="Result.chief.is_approved=='approved'" class="checkbox" (change)="approve(Result.chief.user_id)">
                        </td> -->
                        <td class="text-center">
                            {{Result.chief.is_approved}}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-success bg-default-color width-50" routerLink="/admin/show-profile/{{Result.chief.user_id}}"><i class="fa fa-view"></i>{{'share.show'|translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>