<app-settings-layout [mycurrenttab]="85">
</app-settings-layout>
<div *ngIf="!showpage">


    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-none">
                    <div class="">
                        <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="pagingparamater.name" (keyup)="pagingparamater.name && getData()" (keypress)="pagingparamater.name && getData()" />

                    </div>
                </div>
                <!-- dataTables_length  -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">
                            <label>{{ 'share.show' | translate }}:</label>
                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="40">50</option>
                        <option value="100">100</option>
                    </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>

                        <th width="10%">
                            <a (click)="pagingparamater.orderBy = 'email'; pagingparamater.isAscending = !pagingparamater.isAscending;getData();">
                         {{'subscribe.email' | translate }}
                      </a>
                            <span class="pull-right">
                  <span *ngIf="pagingparamater.orderBy == 'email' && pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            <span *ngIf="pagingparamater.orderBy == 'email' && !pagingparamater.isAscending" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            </span>
                        </th>



                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Result of Data.data">
                        <td class="text-center">{{Result.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>