<div class="modal-body">
    <div>
        <form [formGroup]="form">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 ">
                <div class="text-center">
                    <h3 class="">{{'cusine.add-cusine'|translate}}</h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-top-20">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('en_name').invalid && form.get('en_name').dirty}">
                            <label class="control-label">  {{'cusine.en_name' | translate }}
                          </label>
                            <input formControlName="en_name" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('en_name').invalid && form.get('en_name').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-12">
                        <div class="form-group" [ngClass]="{'has-error':form.get('ar_name').invalid && form.get('ar_name').dirty}">
                            <label class="control-label">{{'cusine.ar_name' | translate }}
                          </label>
                            <input formControlName="ar_name" type="text" class="form-control input-md">
                            <span class="help-block" *ngIf="form.get('ar_name').invalid && form.get('ar_name').dirty">{{ 'share.required' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
            <button type="button" class="btn btn-success width-100" [disabled]="form.invalid" (click)="save()">
         {{'share.Save' | translate}}
     </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
            <button type="button" class="btn btn-danger width-100" data-dismiss="modal" (click)="myModel.hide()"> {{'share.Close' | translate}}</button>
        </div>
    </div>
</div>