<div class="panel-heading">
    <h5 class="panel-title"> {{'roles'|translate}}</h5>
    <div class="heading-elements">
        <ul class="breadcrumb">
            <li>
                {{'Home'|translate}}/ {{'settingsEmployees'|translate}}
            </li>
        </ul>
    </div>
</div>
<form [formGroup]="form">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-bottom-20">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-top-20">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                <div class="form-group" [ngClass]="{'has-error':form.get('en_name').invalid && form.get('en_name').dirty}">
                    <label class="control-label">   {{'role.NameEnglish' | translate }}
                  </label>
                    <input formControlName="en_name" type="text" class="form-control input-md">
                    <span class="help-block" *ngIf="form.get('en_name').invalid && form.get('en_name').dirty">{{ 'share.required' | translate }}</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-b-12">
                <div class="form-group" [ngClass]="{'has-error':form.get('ar_name').invalid && form.get('ar_name').dirty}">
                    <label class="control-label">{{'role.NameArabic' | translate }}
                  </label>
                    <input formControlName="ar_name" type="text" class="form-control input-md">
                    <span class="help-block" *ngIf="form.get('ar_name').invalid && form.get('ar_name').dirty">{{ 'share.required' | translate }}</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 margin-top-30">

                <button type="button" class="btn btn-success bg-success width-50" [disabled]="form.invalid" (click)="save()">
                 {{'share.Save' | translate}}
               
             </button>

            </div>
        </div>
    </div>
</form>
<div class="dataTables_wrapper no-footer">
    <div class="table-responsive">
        <table class="table table-bordered table-framed">
            <tbody>
                <ng-container *ngFor="let Result of permission">
                    <tr class="header-permission">
                        <td colspan="3">
                            {{languageService.getLanguageOrDefault() == 'ar' ? Result.ar_name : Result.en_name}}
                        </td>
                    </tr>
                    <tr *ngFor="let row of Result.childrens">
                        <td class="text-center">{{row.ar_name}}</td>
                        <td class="text-center">{{row.en_name}}</td>
                        <td class="text-center">
                            <input type="checkbox" [checked]="row.active==true" class="checkbox" (change)="permissionadd($event,row.id)">
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>