<div *ngIf="!loading">
    <div class="panel-heading">
        <h5 class="panel-title"> {{'roles'|translate}}</h5>
        <div class="heading-elements">
            <ul class="breadcrumb">
                <li>
                    {{'Home'|translate}}/ {{'settingsEmployees'|translate}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="heading-menubar">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-top-10 margin-bottom-10 ">
                <a type="button" class="btn bg-default-color btn-full-width padding-h-30" routerLink="/admin/role-mangment/0">
                    <i class="fa fa-plus padding-right-15"></i>{{'share.New'|translate}}
                </a>
            </div>
        </div>
    </div>

    <div class="dataTables_wrapper no-footer">
        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>
                        <th>{{'role.NameArabic' | translate }} </th>
                        <th>{{'role.NameEnglish' | translate }}</th>
                    
                        <th colspan="2">
                            {{'share.actions' | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Result of roles">
                        <td class="text-center">{{Result.en_name}}</td>
                        <td class="text-center">{{Result.ar_name}}</td>

                        <td class="text-center">
                            <a routerLink="/admin/role-mangment/{{Result.id}}">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a (click)="Delete(Result.id)">
                                <i class="icon-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>