<section class="background_white box_shadow padding-10">
    <div class="container-fluid">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label color_dark" for="date">{{'dashboard.from' |translate}} </label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="input-group">
                        <!-- <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </div> -->
                        <input type="text" placeholder="Datepicker" class="form-control" [(ngModel)]="StartDate" bsDatepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label color_dark " for="date">{{'dashboard.to' |translate}}
                 </label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="input-group ">
                        <!-- <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar text-center" aria-hidden="true"></span>
                        </div> -->
                        <input type="text" placeholder="Datepicker" class="form-control" [(ngModel)]="EndDate" bsDatepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <button (click)="DisplayData()" class="col-xs-12 button  bg-default-color">{{'share.search' |translate}}</button>
        </div>
    </div>
</section>

 <div class="text-center " *ngIf="loading">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center padding-v-30">
            <div class="load-wrapp">
                <div class="load-3">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div *ngIf="!loading">
    <section class="padding-v-30">
        <div class="container" style="width:100%" *ngIf="!loading">
            <h4>{{'dashboard.New-order'|translate}}</h4>
            <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>{{'dashboard.completed'|translate}}</h4>
                        <h3>{{OrderData.completed}}</h3>
                    </div>
                </div>
            </div>

            <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>{{'dashboard.canceledByChief' |translate}}</h4>
                        <h3>{{OrderData.canceledByChief}}</h3>
                    </div>
                </div>
            </div>

            <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>{{'dashboard.ontheway' |translate}}</h4>
                        <h3>{{OrderData.ontheway}}</h3>
                    </div>
                </div>
            </div>

            <div class="co-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>{{'dashboard.delivered' |translate}}</h4>
                        <h3>{{OrderData.delivered}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-v-10">
        <div class="container" style="width:100%" *ngIf="!loading">
            <h4> {{'dashboard.All-kitchen'|translate}}</h4>
            <div class="co-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>{{'dashboard.pending-Chief'|translate}}</h4>
                        <h3>{{ChiefData.pending}}</h3>
                    </div>
                </div>
            </div>

            <div class="co-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>{{'dashboard.approved' |translate}}</h4>
                        <h3>{{ChiefData.approved}}</h3>
                    </div>
                </div>
            </div>

            <div class="co-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                    <div class="text-center color_braun">
                        <h4>{{'dashboard.rejected' |translate}}</h4>
                        <h3>{{ChiefData.rejected}}</h3>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- Incom -->

    <section class="padding-v-30">
        <div class="container" style="width:100%" *ngIf="!loading">
            <h4>{{'dashboard.Income'|translate}}</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-framed">
                    <thead>
                        <tr>
                            <th> {{'dashboard.kitchen_name'|translate}}</th>
                            <th> {{'dashboard.kitchen_owner_name'|translate}}</th>
                            <th> {{'dashboard.revenu'|translate}}</th>
                            <th> {{'dashboard.recieved_amount'|translate}}</th>
                            <th> {{'dashboard.qoot_balance'|translate}}</th>
                            <th> {{'dashboard.qoot_percentage'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Result of Income">
                            <td class="text-center">{{Result.kitchen_owner_name}}</td>
                            <td class="text-center">{{Result.kitchen_name}}</td>
                            <td class="text-center">{{Result.revenu}}</td>
                            <td class="text-center">{{Result.recieved_amount}}</td>
                            <td class="text-center">{{Result.qoot_balance}}</td>
                            <td class="text-center">{{Result.qoot_percentage}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </section>


    <!-- pending Chief -->
    <section class="padding-v-30">
        <div class="container" style="width:100%" *ngIf="!loading">
            <h4>{{'dashboard.pending-Chief'|translate}}</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-framed">
                    <thead>
                        <tr>
                            <th> {{'dashboard.kitchen_name'|translate}}</th>
                            <th> {{'dashboard.kitchen_owner_name'|translate}}</th>
                            <th> {{'dashboard.email'|translate}}</th>
                            <th> {{'dashboard.phone'|translate}}</th>
                            <th> {{'dashboard.city'|translate}}</th>
                         
                            <th class="text-center">{{ 'share.actions' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Result of PendingChief?.data">
                            <td class="text-center">{{Result.chief.kitchen_owner_name}}</td>
                            <td class="text-center">{{Result.chief.kitchen_name}}</td>
                            <td class="text-center">{{Result.email}}</td>
                            <td class="text-center">{{Result.phone}}</td>
                            <td class="text-center"> {{languageService.getLanguageOrDefault()=='ar' ? Result.chief.city.ar_name :Result.chief.city.en_name}}</td>
                            <td class="text-center">
                                <a class="btn btn-success bg-default-color width-50" routerLink="/admin/show-profile/{{Result.chief.user_id}}"><i class="fa fa-view"></i>{{'share.show'|translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </section>

    <!-- New Customer  -->
    <section class="padding-v-30">
        <div class="container" style="width:100%" *ngIf="!loading">
            <h4> {{'dashboard.New-Customer'|translate}}</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-framed">
                    <thead>
                        <tr>
                            <th> {{'dashboard.firstname'|translate}}</th>
                            <th> {{'dashboard.lastname'|translate}}</th>
                            <th> {{'dashboard.email'|translate}}</th>
                            <th> {{'dashboard.phone'|translate}}</th>
                            <th>
                                {{ 'share.blocked' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Result of NewCustomer?.data">
                            <td class="text-center">{{Result.customer.firstname}}</td>
                            <td class="text-center">{{Result.customer.lastname}}</td>
                            <td class="text-center">{{Result.email}}</td>
                            <td class="text-center">{{Result.phone}}</td>
                            <td class="text-center">
                                <input type="checkbox" [checked]="Result.status=='blocked'" class="checkbox" (change)="Block(Result.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <!-- New Dishes  -->
    <section class="padding-v-30">
        <div class="container" style="width:100%" *ngIf="!loading">
            <h4>{{'dashboard.New-Dishes'|translate}}</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-framed">
                    <thead>
                        <tr>
                            <th> {{'dashboard.kitchen_name'|translate}}</th>
                            <th> {{'dashboard.kitchen_owner_name'|translate}}</th>
                            <th> {{'Dish.arname' | translate }}</th>
                            <th> {{'Dish.enname' | translate }}</th>
                            <th> {{ 'Dish.price' | translate }} </th>
                            <th> {{'dashboard.Date'|translate}}</th>
                            <th class="text-center" width="10%">{{ 'share.active' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Result of NewDish?.data">
                            <td class="text-center">{{Result.chief.kitchen_owner_name}}</td>
                            <td class="text-center">{{Result.chief.kitchen_name}}</td>
                            <td class="text-center">{{Result.ar_name}}</td>
                            <td class="text-center">{{Result.en_name}}</td>
                            <td class="text-center">{{Result.price}}</td>
                            <td class="text-center">{{Result.created_at}}</td>
                            <td class="text-center">
                                <input type="checkbox" [checked]="Result.approved==1" class="checkbox" (change)="approve(Result.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </section>

    <section class="background_white">
        <div class="" style="height: 390px;">
            <div class="co-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="background_white box_shadow border-card border-radius-5 padding-v-5 margin-bottom-15 max-height-block-admin">
                    <div class="text-center">
                        <h3 class="color_green"> {{'dashboard.TopOrderChiefs' |translate}}</h3>
                        <hr class="border_hr color_green">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let Result of TopOrderChiefs">
                                    <ng-container *ngIf="Result.orders.length!=0"> 
                                        <td class="border-top-none color_dark" >
                                            {{Result.kitchen_name}} </td>
                                            <td class="border-top-none color_dark" >
                                                {{Result.orders.length}}
                                            </td>
                                    </ng-container>
                                  
                                        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="co-lg-6 col-md-6 col-sm-6 col-xs-12" data-toggle="modal" data-target="#MostSoldModal">
                <div class="background_white box_shadow border-card border-radius-5 padding-v-5 margin-bottom-15 max-height-block-admin">
                    <div class="text-center">
                        <h3 class="color_green"> {{'dashboard.TopRateChiefs' |translate}}</h3>
                        <hr class="border_hr color_green">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let Result of TopRateChiefs">
                                    <td class="border-top-none color_dark">
                                        {{Result.kitchen_name}} </td>
                                        <td class="border-top-none color_dark" >{{Result.average_rating==null?0:Result.average_rating}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>