/* @font-face {
    font-family: 'CoconNextArabic-Light';
    src: url('font/CoconNextArabic-Light.eot');
    src: url('font/CoconNextArabic-Light.woff2') format('woff2'), url('font/CoconNextArabic-Light.woff') format('woff'), url('font/CoconNextArabic-Light.ttf') format('truetype'), url('font/CoconNextArabic-Light.svg#CoconNextArabic-Light-Regular') format('svg'), url('font/CoconNextArabic-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
} */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'NotoKufiArabicRegular', sans-serif;
}

.borderLogin {
    border-left: 1px solid #989898;
}

.body {
    font-family: 'NotoKufiArabicRegular';
    font-weight: normal;
    font-size: 12px;
    background-color: #f5f5f5;
}

.glyphicon {
    padding-right: 10px;
}

.cursor {
    cursor: pointer;
}

.width100 {
    width: 100%;
}


/************************************************styel****************************************************/

.userPadding {
    padding: 2px;
}

table#SelectedItemsTbl {
    width: 100%;
    background-color: #f1f1c1;
    border: hidden;
    text-align: center;
}

table#SelectedItemsTbl tr:nth-child(even) {
    background-color: #eee;
}

table#SelectedItemsTbl tr:nth-child(odd) {
    background-color: #fff;
}

table#SelectedItemsTbl th {
    color: white;
    background-color: rgb(24, 105, 144);
    text-align: center;
}

th,
td {
    padding: 15px;
}

table#ItemsTbl {
    width: 100%;
    background-color: #f1f1c1;
    border: hidden;
    text-align: center;
}

table#ItemsTbl tr:nth-child(even) {
    background-color: #eee;
}

table#ItemsTbl tr:nth-child(odd) {
    background-color: #fff;
}

table#ItemsTbl th {
    color: white;
    background-color: rgb(24, 105, 144);
    text-align: center;
}

th,
td {
    padding: 15px;
}

.background-white {
    background-color: white;
}

.background-graye {
    background: #D9D9D9;
}

.color-red {
    color: #C84C4C;
}

.shadowCard {
    -webkit-box-shadow: 0 1px 2px 2px #0000000d;
    box-shadow: 0 1px 2px 2px #0000000d;
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.panel_Admin {
    color: #186990 !important;
    background-color: #F5F5F5 !important;
    border-color: #F5F5F5 !important;
    border-radius: 4px 4px 0 0;
}

.panel-primaryAdmin {
    border-color: #337ab700;
    border: none;
}

.paddingCol-icon {
    padding: 5px 0 20px 0;
}

.borderFormCashier {
    border: 1px solid #707070;
    border-radius: 4px;
}

.displayGrid {
    display: grid;
}


/******************************************************Button Touch*********************************************************/

.ds-btn {
    position: relative;
    height: 150px;
    padding: 0;
}

.ds-btn li {
    list-style: none;
    float: right;
    padding: 10px;
}

.ds-btn li a span {
    padding-left: 15px;
    padding-right: 5px;
    width: 100%;
    display: inline-block;
    text-align: left;
}

.ds-btn li a span small {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.btnTouch {
    padding: 25px 0;
    border-radius: 5px;
    border: none;
    max-width: 225px;
    min-width: 220px;
    text-align: center;
}

.btnTouch img {
    margin: auto;
    display: inline-block;
}

.btnTouch:hover {
    border: none;
    color: #fff;
}

.colorButton-green {
    background: #7CC576;
}

.colorButton-blu {
    background: #00AEEF;
}

.colorButton-orang {
    background: #F68E56;
}

.colorButton-read {
    background: #ED1C24;
}

.colorButton-gray {
    background: #565656;
}


/*********hover*********/

.colorButton-green:hover {
    background: #40a038;
}

.colorButton-blu:hover {
    background: #0c769e;
}

.colorButton-orang:hover {
    background: #dc6a19;
}

.colorButton-read:hover {
    background: #a2171c;
}

.colorButton-gray:hover {
    background: #3a2d2d;
}

.newpopupButton {
    max-width: 195px;
    min-width: 190px;
}


/******************************************************End Button*******************************************************/


/*************************************************calculator*****************************************************/

.calculator {
    margin: auto;
    background-color: #868686;
    width: 395px;
    height: 325px;
    text-align: center;
    border-radius: 4px;
}

#calculator {
    position: absolute;
    max-width: 60%;
    left: 58%;
    top: 10%;
}

.calculatorInput {
    outline: 0;
    position: relative;
    left: 5px;
    top: 0px;
    border: 0;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 78px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
}

#answer {
    width: 345px;
    font-size: 26px;
    text-align: center;
    float: left;
}

.operator {
    background-color: #186990;
    position: relative;
    color: #fff;
}

#clear {
    float: left;
    position: relative;
    display: block;
    background-color: #186990;
    margin-bottom: 15px;
    color: #fff;
}


/*************************************************End calculator*****************************************************/


/********************************************************inputAdmin**************************************************/

.inputAdmin {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    width: 100%;
    margin-bottom: 20px;
}

.buttonForm {
    background: #186990;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    border: none;
}

.buttonForm:hover {
    background: #083C56;
    color: #ffffff;
    border: none;
}

.buttonCancel {
    background: #920202;
}

.buttonCancel:hover {
    background: #6d1818;
}


/********************************************************End inputAdmin**************************************************/


/********************************************************commodity**************************************************/

.borderAll {
    border: 1px solid #C8C8C8;
}

.upload {
    position: relative;
    display: block;
}

.upload label {
    background: #FCFCFC;
    color: #5F626A;
    cursor: pointer;
    width: 2150px;
    height: 175px;
    position: relative;
    display: block;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    overflow: hidden;
    transition: background ease .5s;
    pointer-events: none;
}

.upload label i {
    font-size: 45px;
    margin-bottom: 10px;
    opacity: .5;
}

.input-file {
    opacity: 0;
    /*This*/
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.add-image {
    display: block;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    font-size: 11px;
}


/************************************************************************************************************************/

.checkbox,
.radio {
    margin-top: 0px;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio-primary input[type="radio"]+label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"]+label::after {
    background-color: #186990;
}

.radio-danger input[type="radio"]:checked+label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
    border-color: #186990;
}

.radio-info input[type="radio"]:checked+label::after {
    background-color: #186990;
}

.radio-warning input[type="radio"]+label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #5cb85c;
}


/********************************************************end commodity**************************************************/


/*****************************************************menu-mdeol***********************************************************/

.img-centar {
    margin: 0 auto;
    display: block;
}

.menu-mdeol {
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
}

.padding-col-menu {
    padding: 5px 0;
}

.fontSize-14 {
    font-size: 14px;
    font-weight: normal;
}

.loading {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(3px);
    content: 'تحميل......';
    text-align: center;
}


/*****************************************************End menu-mdeol**********************************************************/


/********************************************************Refunds**************************************************/

.panel-heading {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.border-top {
    border-top: 1px solid #95989a61;
}

.border-bottom {
    border-bottom: 1px solid #95989a61;
}

.heading-elements-menu {
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 0px;
    height: 38px;
    margin-top: -9px;
}

.heading-elements {
    background-color: inherit;
    position: absolute;
    top: 50%;
    left: 20px;
    height: 38px;
    margin-top: -19px;
}

.heading-elements:not(.visible-elements) .icons-list {
    margin-top: 11px;
}

.icons-list>li {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
}

.icons-list a[data-action] {
    vertical-align: middle;
}

.icons-list a[data-action]:after {
    font-family: 'icomoon';
    font-size: 16px;
    min-width: 16px;
    text-align: center;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkbox {
    padding: 0px 0px !important;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    margin-left: -5px;
    border: 1px solid #374850 !important;
    border-radius: 0 !important;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: #ffffff !important;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #333333 !important;
    font-size: 12px;
    padding-right: 2px;
    top: 10px;
}

.checkbox label {
    padding-left: 0 !important;
    padding-right: 5px;
}

.commandBar {
    padding: 0px 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: #f5f5f500;
    border-radius: 4px;
}

.commandBar li a {
    color: #333333;
    text-decoration: none;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "|";
}

.caret {
    font-style: normal;
    font-weight: normal;
    border: 0;
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: -1px;
}

.caret:after {
    content: '\f107';
    font-family: FontAwesome;
    display: block;
    font-size: 16px;
    width: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.searchComboant {
    background: white;
    border: 1px solid #95989a8a !important;
    border-radius: 2px !important;
}

.stylish-input-group .input-group-addon {
    background: #376994 !important;
    color: white;
    border-radius: 2px !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.dataTables_length {
    float: left;
    display: inline-block;
    margin: 0;
}

.dataTables_length>label {
    margin-bottom: 0;
}

.dataTables_length>label>span:first-child {
    float: right;
    margin: 9px 20px;
    margin-right: 0;
}

.pagingFilter {
    padding: 6px 20px;
    border-radius: 2px;
    border: 1px solid;
}

.dataTables_info {
    float: right;
    padding: 9px 0;
    margin-bottom: 20px;
}

.dataTables_paginate {
    float: left;
    text-align: left;
    margin: 0 20px 20px 0;
}

.dataTables_paginate .paginate_button {
    display: inline-block;
    padding: 9px;
    min-width: 38px;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    border-radius: 3px;
}

.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover,
.dataTables_paginate .paginate_button.current:focus {
    color: #fff;
    background-color: #376994;
}

.dataTables_paginate .paginate_button:first-child {
    margin-right: 0;
}

.inputNew {
    background-color: white;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
}

.filterInput {
    position: absolute;
    top: 55px;
    left: 25px;
    background: #0000;
    border: none;
    border-right: 1px solid #0000;
}

.btuSave {
    background: #376994;
    color: white;
    border-color: #376994;
    padding: 9px 15px;
}

.btuSave:hover {
    background: #264967;
    border-color: #264967;
}

.btuCancel {
    background: #ffffff;
    color: #333333;
    border: 1px solid #333333;
    padding: 9px 15px;
}

.btuCancel:hover {
    border: 1px solid #A10A0A;
    color: #A10A0A;
}

.btuPrint {
    background: #ffffff;
    color: #333333;
    border: 1px solid #333333;
    padding: 9px 15px;
}

.btuPrint:hover {
    border: 1px solid #333333;
    color: #333333;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    text-align: center;
}

.disabledTabel {
    background: #F8F8F8;
    color: #405354;
}


/********************************************************end Refunds**************************************************/


/*******************************************************************************************************************/

.radio label::before {
    right: 0;
    margin-left: -20px;
}

.radio label::after {
    right: 3px;
    top: 13px;
    margin-left: -20px;
}


/****************************************************Dashbord***************************************************************/

.box_shadow {
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.background_white {
    background: #ffffff;
}

.background-offwhite {
    background: #efefef;
}

.color_orang {
    color: #f68d20;
}

.color_blu {
    color: #009fd9;
}

.color_braun {
    color: #8d1b3d;
}

.color_roaz {
    color: #de7c9d;
}

.color_grey {
    color: #959595;
}

.color_brundark {
    color: #9d342e;
}

.color_move {
    color: #f63a78;
}

.color_dark {
    color: #2d3e50;
}

.color_green {
    color: #8dc63f;
}

.color_greendark {
    color: #208d00;
}

.color-blulight {
    color: #639bb4;
}

.input-group-addon:first-child {
    border-right: 1px solid #ccc;
}

.border-card {
    border: 1px solid #efefef;
}

.border_hr {
    border: 4px solid;
}

.border-top-none {
    border-top: 0px !important;
}

.font-weight-bold {
    font-weight: bold;
}


/*****************button*********************/

.background_button {
    background: #186990;
    color: white;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 9px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px var(--color-smoke);
}

.button:hover {
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    opacity: .85;
}

.button:active {
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    opacity: .75;
}

.button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}

.button.-regular {
    color: #202129;
    background-color: #f2f2f2;
}

.button.-regular:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
}

.button.-regular:active {
    background-color: #d5d6d6;
    opacity: 1;
}

.button.-sun {
    color: #f15c5c;
    background: var(--color-sun);
}

.button.-alge {
    color: #e7ff20;
    background: var(--color-alge);
}

.button.-flower {
    color: #FE8CDF;
    background: var(--color-flower);
}


/*********************End button************************/

.menu_admin .nav-link {
    font-size: 15px;
    padding: 0px 17px;
    line-height: 30px;
}

.menu_admin .nav-link.active {
    border-bottom: 1px solid #186990;
    padding-bottom: 8px;
    color: red;
}

.sizeicon-font {
    font-size: 45px;
}

.border-radius-icon {
    border: 1px solid;
    border-radius: 50%;
    padding: 14%;
    margin-top: 15px;
}


/******************************tabels***************************/

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    font-size: 14px;
}

.table>tbody>tr>td.tdpaddong30 {
    padding: 30px;
}

.table>tbody>tr>td.tdpaddong16 {
    padding: 16px;
}

.max-height-block-admin {
    max-height: 345px;
    min-height: 345px;
    overflow: hidden;
}


/******************************************************end Dashbord*************************************************************/


/**************************************************@media***********************************************************/


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
    .bg_login {
        background-size: auto;
    }
    .form {
        padding: 10px 15px;
    }
    .btn {
        width: auto;
    }
    .calculator {
        margin: auto;
        background-color: #868686;
        width: 190px;
        height: 325px;
        text-align: center;
        border-radius: 4px;
    }
    #answer {
        width: 170px;
        font-size: 26px;
        text-align: center;
        float: left;
    }
    .calculatorInput {
        outline: 0;
        position: relative;
        left: 5px;
        top: 0px;
        border: 0;
        color: #495069;
        background-color: #fff;
        border-radius: 4px;
        width: 40px;
        height: 50px;
        float: left;
        margin: 1px;
        font-size: 20px;
    }
    .h5,
    h5 {
        font-size: 9px;
        line-height: 20px;
    }
    .navbar:not(.no-border) .navbar-nav>li[class*="dropdown"]>.dropdown-menu,
    .navbar:not(.no-border) .navbar-nav>li.dropdown-grid>.dropdown-grid-wrapper>.dropdown-menu {
        margin-top: 1px !important;
        min-width: 145px;
    }
    .padding-10 {
        padding: 0px;
    }
    .btnTouch {
        max-width: 175px;
        min-width: 175px;
    }
    .btnTouch h3 {
        font-size: 16px;
    }
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
    .bg_login {
        background-size: auto;
    }
    .btn {
        width: auto;
    }
    .navbar:not(.no-border) .navbar-nav>li[class*="dropdown"]>.dropdown-menu,
    .navbar:not(.no-border) .navbar-nav>li.dropdown-grid>.dropdown-grid-wrapper>.dropdown-menu {
        margin-top: 1px !important;
        min-width: 145px;
    }
    .btnTouch {
        max-width: 174px;
        min-width: 170px
    }
    .btnTouch h3 {
        font-size: 16px;
    }
    /* ///Reset  */
}

.padding-v-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-v-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-v-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-v-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-v-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.padding-v-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-v-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.padding-v-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}


/************************************** padding horizental ***************************************/

.padding-h-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-h-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-h-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-h-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-h-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-h-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.padding-h-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-h-45 {
    padding-left: 45px;
    padding-right: 45px;
}

.padding-h-50 {
    padding-left: 50px;
    padding-right: 50px;
}


/********************************************* line height **********************************/

.line-height-15 {
    line-height: 15px;
}

.line-height-20 {
    line-height: 20px;
}

.line-height-25 {
    line-height: 25px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-35 {
    line-height: 35px;
}

.line-height-40 {
    line-height: 40px;
}


/****************************************** position ****************************************/

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


/*******************************************Font-size*****************************************/

.font-size-14 {
    font-size: 14px;
    font-weight: 600;
}

.font-size-16 {
    font-size: 16px;
    font-weight: 600;
}

.font-size-18 {
    font-size: 18px;
    font-weight: 600;
}

.font-size-22 {
    font-size: 22px;
    font-weight: 600;
}


/********************************************Custom************************************************/

.color-white {
    color: #ffffff;
}

.border-none {
    border: none;
}

.border-radius-0 {
    border-radius: 0px;
}

.border-radius-5 {
    border-radius: 5px;
}

.form-control {
    border-radius: 0px !important;
}

a:focus,
a:hover {
    color: #a2185b;
    text-decoration: none;
}

.color_dark {
    color: #333;
    font-size: 15px;
}

.navbar {
    border-radius: 0px;
}

@media (min-width: 768px) and (max-width: 990px) {
    .menu_admin {
        margin-bottom: 20px
    }
    .padding-10 {
        padding: 20px 10px;
    }
    .navbar {
        border-radius: 0px;
    }
}

@media (min-width: 300px) and (max-width: 700px) {
    .button {
        margin-top: 10px;
    }
}