<div [class.sidebar-mobile-main]="isMenuOpen">
    <div class="navbar navbar-default header-highlight">
        <div class="navbar-header">

            <ul class="nav navbar-nav visible-xs-block">
                <li>
                    <a class="sidebar-mobile-main-toggle" (click)="isMenuOpen =! isMenuOpen">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a>
                            <i class="fa fa-bell" aria-hidden="true" style="font-size: 2em;">
                    <span class="round" id="NotiID" style="color:white">
                      3
                    </span>
                  </i>
                        </a>
                    </li>
                    <li>
                        <a (click)="logout()">
                            <i class="fa fa-power-off" aria-hidden="true"></i> {{languageService.getLanguageOrDefault() == 'ar' ? 'تسجيل الخروج': 'Sign out '}}
                        </a>
                    </li>
                    <li>
                        <a (click)="languageService.setLanguage('en')" *ngIf="languageService.getLanguageOrDefault() == 'ar'">English</a>
                        <a (click)="languageService.setLanguage('ar')" *ngIf="languageService.getLanguageOrDefault() == 'en'">عربى</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-container" style="background: #f5f5f5;">
        <div class="page-content">
            <div class="sidebar sidebar-main" *ngIf="!noSlider">
                <div class="sidebar-content">
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <div class="navbar-header text-center">
                                    <div>
                                        <img class="logo" src="../../../assets/images/logo-system/logowhite.png" style="width:50%">
                                    </div>
                                </div>
                                <div class="navbar-header text-center mb-20">
                                    <div *ngIf="localStorageService.get('currentUser').avatar==null">
                                        <img class="logo" src="../../../assets/images/logo-system/user.png" style="width:15%">
                                    </div>
                                    <div *ngIf="localStorageService.get('currentUser').avatar!=null">
                                        <img class="logo" src="{{localStorageService.get('currentUser').avatar}}" style="width:15%">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span class="margin-top-20">{{languageService.getLanguageOrDefault() == 'ar' ? 'مرحباً بك ,': 'Welcome '}}
                                    </span>  <a routerLink="/admin/show-admin-profile/{{localStorageService.get('currentUser')?.id}}">{{localStorageService.get('currentUser')?.username}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ng-container *ngFor="let row of localStorageService.get('permissions')">
                                <ul class="navigation navigation-main navigation-accordion">
                                    <li [class.active]="tabactive==row.route">
                                        <a routerLink="{{row.route}}" (click)="tabactive=row.route">
                                            <i class="{{row.icon}}"></i> {{languageService.getLanguageOrDefault() == 'ar' ? row.ar_name : row.en_name}}
                                        </a>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-15">
                            <div [ngClass]="{'panel panel-flat':!noPanel}">
                                <div [class.panel-body]="!noPanel">
                                    <app-loading></app-loading>
                                    <div [class.hidden]="gridAction != GridActions.Loaded">
                                        <router-outlet></router-outlet>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-notify></app-notify>