.navbar-brand > img{
    margin-top: -9px !important;
}
.logo-footer{
    margin: auto;
    display: inline-block;
    width: 40px;
}
.logo{
    margin: 10px;
    width: 50px;
}
.navigation > li > a 
{
    font-size: 15px !important;
}
.round
    {
        border-radius: 50%;
        padding: 0px 5px;
        border: 1px solid white;
        background-color: #e74c3c;
        font-size: 10px;
    }


