/* You can add global styles to this file, and also import other style files */


/***********************************************************************************************
** Compoant Plus **
************************************************************************************************/

.display-inline-flex {
    display: inline-flex;
}

.border-radius-all-5 {
    border-radius: 5px !important;
}


/***********************************************************************************************
** End Compoant Plus **
************************************************************************************************/


/***********************************************************************************************
** Scrollbar **
************************************************************************************************/

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C4C4C4;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #C4C4C4;
}

.pre-scrollable {
    max-height: 400px;
    min-height: 300px;
    overflow-y: scroll;
}


/***********************************************************************************************
** End Scrollbar **
************************************************************************************************/


/***********************************************************************************************
** Body **
************************************************************************************************/

body {
    background: #F5F5F5;
}


/***********************************************************************************************
** End Body **
************************************************************************************************/


/***********************************************************************************************
** Hedar **
************************************************************************************************/

.navbar-default {
    background-color: #a2185b !important;
    border-color: #a2185b !important;
}

.navbar {
    border-radius: 0;
}

.header-highlight .navbar-header {
    background-color: #a2185b !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fffdfd !important;
    ;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #e8e7e7 !important;
    ;
    background-color: transparent;
}


/********************************************Shortcut Menu*************************************/

.header-left,
.header-right {
    position: relative;
    background: #ffffff;
    color: #333333;
    float: none;
    border-bottom: 1px solid #D6D6D6;
}

.header-left {
    width: 100%;
}

.header-right label {
    position: absolute;
    top: -3.7em;
    right: 0;
    cursor: pointer;
}

.header-right span {
    position: relative;
    width: 2em;
    height: 2em;
    background: rgba(255, 255, 255, .3);
}

.header-right span:after {
    top: 14px;
}

.header-right {
    width: 100%;
}

#open {
    display: none;
}

.title {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #a2185b;
    font-size: 20px;
    background: #f5f5f5;
    width: 33%;
    text-align: center;
}

nav>a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 41px;
    padding: 0 0px 0 12px;
    color: #333;
}

.header-right nav a:hover {
    color: #a2185b;
    text-decoration: none;
    /* border-bottom: 1px solid #a2185b; */
    padding: 0 0px 0 12px;
    text-decoration: underline;
    font-weight: bold;
}

nav .active {
    color: #a2185b;
    text-decoration: none;
    /* border-bottom: 1px solid #a2185b; */
    padding: 0 0px 0 12px;
    text-decoration: underline;
    font-weight: bold;
}
.padding-h-35
{
    padding: 0px !important;
    margin-bottom: 15px;
}

/********************************************End Shortcut Menu*************************************/
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee !important;
    border-top: 1px solid white!important;
}
.modal-footer
{
    border-top: 1px solid white !important;
    padding: 0 !important;
}
label {
    font-size: 15px;
}

/***********************************************************************************************
** End Hedar **
************************************************************************************************/


/***********************************************************************************************
** Siedbar **
************************************************************************************************/

.sidebar {
    background-color: #ffffff !important;
    color: #0c0c0c !important;
}

.sidebar-content {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 268px;
    right: auto;
    left: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #9A9A9A;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0px;
    padding-left: 0;
    background: url('./assets/images/logo-system/sidebar-1.png');
    background-size: cover;
    overflow-y: auto;
}

.sidebar:not(.sidebar-default) .media .text-muted,
.sidebar:not(.sidebar-default) .media .media-annotation {
    color: #908a8a !important;
}

.navigation .navigation-header,
.navigation .navigation-header a {
    color: #000000 !important;
    font-weight: 400;
}

.navigation .navigation-header,
.navigation .navigation-header a {
    color: #000000 !important;
    font-weight: 400;
}

.navigation>li>a {
    background-color: transparent !important;
    color: #fff !important;
}
.navigation>li>a
{
    padding: 9px 0px  !important;
    min-height: 30px  !important;
}
.navigation>li.active>a,
.navigation>li.active>a:focus {
    background-color: #a2185b !important;
    color: #fff !important;
}

.navigation>li>a:hover {
    background-color: rgba(200, 200, 200, 0.2) !important;
    color: #fff !important;
    text-decoration: none;
}

.navbar-header {
    border-bottom: 2px solid rgba(180, 180, 180, 0.3);
    padding-bottom: 10px;
}

.navigation li {
    margin:  2px 17px;
}

.category-content {
    color: white;
}


/***********************************************Logo*******************************************/

.navbar-brand {
    padding: 10px 25px !important;
}

.navbar-brand>img {
    margin-top: 0 !important;
    height: auto !important;
}


/***********************************************************************************************
** End Siedbar **
************************************************************************************************/


/***********************************************************************************************
** Panel **
************************************************************************************************/

.panel {
    border-radius: 0;
}

.panel-heading {
    padding-top: 0 !important;
    margin-bottom: 10px !important;
    padding-bottom: 15px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom: 1px solid #95989a66 !important;
}

.breadcrumb {
    background-color: #f5f5f500 !important;
    border-radius: 0px !important;
}


/***********************************************************************************************
** End Panel **
************************************************************************************************/


/***********************************************************************************************
** menubar **
************************************************************************************************/

.heading-menubar {
    background-color: inherit;
    height: 32px;
}

.heading-menubar .menubar {
    padding-top: 0;
    padding-bottom: 0;
}

.menubar {
    border-radius: 0;
    margin-bottom: 0;
}

.menubar {
    background-color: #f5f5f500 !important;
    border-radius: 0px !important;
}

.menubar {
    padding: 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.box_shadow {
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.background_white {
    background: #ffffff;
}

.background-offwhite {
    background: #efefef;
}

.pagination>li>a,
.pagination>li>span {
    color: color !important;
}

.pagination>.active>a {
    background: #a2185b !important;
}

.menubar>li {
    display: inline-block;
}

.menubar>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "|";
    display: inline;
}

.menubar li a {
    color: #6D6868;
}

.menubar li a:hover {
    color: #333333;
    text-decoration: none;
}


/***********************************************************************************************
** End menubar **
************************************************************************************************/


/***********************************************************************************************
** search **
************************************************************************************************/

.search {
    width: 100%;
    position: relative;
}

.search:before {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-family: 'FontAwesome';
    content: '\f002';
    background: #a2185b;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-stretch: always;
}

.searchTerm {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #95989A;
    padding: 5px;
    height: 40px;
    border-radius: 0px;
    outline: none;
}

.searchButton {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}


/**************************************checkbox*************************************************/

input[type=checkbox],
input[type=radio] {
    margin: 4px 4px 4px 4px;
    margin-top: 1px\9;
    line-height: normal;
}

.label--checkbox {
    position: relative;
    cursor: pointer;
}

.checkbox {
    position: relative;
    top: 0;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 2px;
    z-index: 1;
    top: 3px;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2;
}

.checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #a2185b;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
    background: #fff;
    cursor: pointer;
    border: 1px solid #374850;
    border-radius: 2px;
    -webkit-box-sizing: border-box !important;
    box-sizing: content-box !important;
}

.button--round {
    -webkit-transition: 0.3s background ease-in-out;
    -moz-transition: 0.3s background ease-in-out;
    transition: 0.3s background ease-in-out;
    width: 2rem;
    height: 2rem;
    background: #5677fc;
    border-radius: 50%;
    box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.button--round i {
    font-size: 1rem;
    line-height: 220%;
    vertical-align: middle;
}

.button--round:hover {
    background: #3b50ce;
}

.button--sticky {
    position: fixed;
    right: 2rem;
    top: 16rem;
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(6.25rem);
        transform: translateY(6.25rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(6.25rem);
        transform: translateY(6.25rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


/**************************************paginate*************************************************/

.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover,
.dataTables_paginate .paginate_button.current:focus {
    color: #fff;
    background-color: #a2185b !important;
}

.background-gray-row {
    background: #F8F8F8;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

.disabledTD {
    background: #f1f1f1de;
    text-align: center;
}

.table>thead>tr>th {
    padding: 8px;
    background: #a2185b;
    color: white;
    text-align: center;
}

.table>thead>tr>th a {
    color: white;
    text-align: center;
}

.table>tbody>tr>td {
    padding: 4px 8px 0 8px;
}

.table>tbody>tr>td .form-group {
    border-color: #0000;
}

.arrow-tabel i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: solid #a2185b !important;
    display: inline-block !important;
    border-width: 0 3px 3px 0 !important;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border: solid #09982f !important;
    display: inline-block !important;
    border-width: 0 3px 3px 0 !important;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #c30707 !important;
    display: inline-block !important;
    border-width: 0 3px 3px 0 !important;
}


/***********************************************************************************************
** End search **
************************************************************************************************/


/***********************************************************************************************
** form-control **
************************************************************************************************/

.form-control {
    padding: 5px 10px !important;
    border-width: 1px !important;
    border-radius: 5px !important;
    border: 1px solid #9F9F9F !important;
    border-color: #ddd !important;
    border-bottom-color: #ddd;
    font-size: 12px;
}

.form-control:focus {
    outline: 0;
    border-color: transparent;
    border-bottom-color: #9F9F9F !important;
    -webkit-box-shadow: 0 1px 0 #9F9F9F !important;
    box-shadow: 0 1px 0 #9F9F9F !important;
}

.danger {
    color: red;
}

.file-input-new .input-group .input-group-btn>.btn-file {
    padding: 7px 15px !important;
}


/***********************************************************************************************
** End form-control **
************************************************************************************************/


/***********************************************************************************************
** Buttom **
************************************************************************************************/

.buttomGenral {
    border-radius: 5px;
    padding: 10px 45px !important;
    border-width: 1px !important;
}

.buttomSave {
    background: #a2185b;
    color: #ffffff;
}

.buttomCancel {
    background: #ffffff;
    border: 1px solid #333333;
    color: #333333;
}


/***********************************************************************************************
** End Buttom **
************************************************************************************************/


/***********************************************************************************************
** Tab Active **
************************************************************************************************/

.nav-tabs.nav-tabs-bottom>li.active>a:after {
    background-color: #a2185b !important;
}


/***********************************************************************************************
** End Tab **
************************************************************************************************/


/***********************************************************************************************
** tree view **
************************************************************************************************/

tree-internal .tree .node-value:after {
    background-color: #a2185b;
}

tree-internal ul {
    padding: 3px 0 3px 0px;
}

tree-internal .tree li div {
    -webkit-user-drag: none;
}


/***********************************************************************************************
** End tree view **
************************************************************************************************/


/***********************************************************************************************
** Footer **
************************************************************************************************/

.navbar-default .navbar-text {
    color: #fff !important;
    text-align: center;
}

.navbar-text {
    float: none !important;
}

.navbar-text a {
    color: #fff;
}


/***********************************************************************************************
** End Footer **
************************************************************************************************/

.disabled {
    opacity: 0.6;
    ;
    cursor: not-allowed;
    pointer-events: none;
}

textarea {
    resize: none;
}


/***********************************************************************************************
** POS Number Pad **
************************************************************************************************/

.popover {
    max-width: 230px !important;
}


/***********************************************************************************************
** End POS Number Pad **
************************************************************************************************/

.modal-xlg {
    width: 90%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.previous {
    display: none !important;
}

.next {
    display: none !important;
}

.margin-top-0 {
    margin-top: 0;
}

.fas.fa-circle-notch.fa-spin {
    font-size: 40px;
    color: #a2185b;
}

.pointer {
    cursor: pointer;
}

.scroller-h {
    height: 300px;
    overflow-y: scroll;
}

.navigation li a>i
{
    float: right;
    top: 0;
    margin-top: 2px;
    margin-left: 10px;
    transition: opacity 0.2s ease-in-out;
    margin-right: 10px;
}