<label *ngIf="!veiwOnly" class="control-label">{{ 'share.upload' | translate }}</label>
<label *ngIf="veiwOnly" class="control-label">{{ 'share.attachments' | translate }}</label>
<div class="form-group">
    <!-- <label class="control-label">
    </label> -->
    <div class="file-input file-input-new margin-bottom-20" *ngIf="!veiwOnly">
        <div class="input-group input-group-md">
            <div class="input-group-btn">
                <div tabindex="500" class="btn btn-primary btn-file legitRipple" [class.disabled]="isDisabled">
                    <i class="icon-file-plus"></i>
                    <span class="hidden-xs">{{ label | translate }}</span>
                    <span class="danger" *ngIf="isRequired">*</span>
                    <input type="file" class="file-input" data-show-caption="true" [multiple]="isMultiple" data-main-class="input-group-md" #fileEl
                        (change)="uploadFiles(fileEl.files)" [accept]="acceptedExtensionsString" [disabled]="isDisabled" (blur)="onTouched()" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-none" *ngFor="let file of filesStatus">
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 padding-none">
            <i *ngIf="file.Extension == 'png' || file.Extension == 'gif' || file.Extension == 'jpg'" class="fa fa-picture-o" aria-hidden="true"></i>
            <i *ngIf="file.Extension == 'doc' || file.Extension == 'docx'" class="fa fa-file-word-o" aria-hidden="true"></i>
            <i *ngIf="file.Extension == 'xlsx' || file.Extension == 'xls'" class="fa fa-file-excel-o" aria-hidden="true"></i>
            <i *ngIf="file.Extension == 'pdf'" class="fa fa-file-pdf-o" aria-hidden="true"></i>
            <i *ngIf="file.Extension != 'png' && file.Extension != 'gif' && file.Extension != 'jpg' && file.Extension != 'doc' && file.Extension != 'docx' && file.Extension != 'xlsx' && file.Extension != 'xls' && file.Extension != 'xlsx' && file.Extension != 'xls' && file.Extension != 'pdf'" class="fa fa-file" aria-hidden="true"></i>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4 padding-none">
            <p *ngIf="!file.TempUrl?.includes('http')">{{spliteFileName(file.Name)}}</p>
            <p *ngIf="file.TempUrl?.includes('http')"><a (click)="openLink(file.TempUrl)" class="padding-none">{{spliteFileName(file.Name)}}</a></p>
        </div>
        <!-- {{file | json}} -->
        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4 padding-none" *ngIf="!file.TempUrl">
            <div class="progress progress-sm">
                <div class="progress-bar progress-bar-striped active" [class.bg-danger]="!file.Success" [style.width.%]="file.progress"></div>
            </div>
            <small>{{file.Message}}</small>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
            <a *ngIf="file.TempUrl?.includes('http')" (click)="deleteUpload(file.Name)">
                <i aria-hidden="true" class="fa fa-trash danger"></i>
            </a>
            <a *ngIf="!file.TempUrl?.includes('http')" (click)="cancelUpload(file.Name)">
                <i aria-hidden="true" class="fa fa-times danger"></i>
            </a>
        </div>
    </div>
</div>