<!--  -->
<div class="toast-top-right" id="toast-container" style="position: fixed;" *ngIf="notifys.length">
    <div *ngFor="let notify of notifys; let index=index" class="toast toast-{{notify.type}} {{notify._class}}" style="opacity:0;" (click)="notify._close(index)">
        <!-- <div class="toast-title ng-star-inserted" style="">title</div> -->
        <button *ngIf="notify.type == notifyType.Error" (click)="notify._close(index)" class="toast-close-button" ><span aria-hidden="true">×</span></button>
        <div class="ng-tns-c6-0" ng-reflect-ng-switch="false">
            <span class="toast-message ng-star-inserted">
                <ul>
                    <li *ngFor="let msg of notify.message.split(',')">{{notify.message}}</li>
                </ul>
            </span>
        </div>
    </div>
</div>