<app-report-layout [mycurrenttab]="51">
</app-report-layout>
<div *ngIf="!showpage">
    <div>
        <div class="heading-menubar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10 ">
                <!-- <button type="button" class="btn bg-default-color btn-full-width padding-h-30" (click)="addNew()">
                    <i class="fa fa-plus padding-right-15"></i>{{'share.New'|translate}}
                </button> -->
            </div>
        </div>
    </div>

    <div>
        <div class="col-xs-4">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center color_move">
                    <h4>{{'order-report.all'|translate}}</h4>
                    <h3>{{totalData.all}}</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center color_move">
                    <h4>{{'order-report.delivered'|translate}}</h4>
                    <h3> {{totalData.delivered}}</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="background_white box_shadow border-radius-5 padding-10 margin-bottom-15 cursor">
                <div class="text-center color_move">
                    <h4>{{'order-report.autoRejected'|translate}}</h4>
                    <h3> {{totalData.autoRejected}}</h3>

                </div>
            </div>
        </div>
    </div>

    <div class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <app-select-get-list [dataSet]="allchief" label="share.kitchen" [nolabel]="true" [(ngModel)]="pagingparamater.chief_id">
                        </app-select-get-list>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label color_dark" for="date">{{'share.from' |translate}} </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="input-group">

                                <input type="text" placeholder="" class="form-control" [(ngModel)]="StartDate" bsDatepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label color_dark " for="date">{{'share.to' |translate}}
                         </label>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <div class="input-group">

                                <input type="text" placeholder="" class="form-control" [(ngModel)]="EndDate" bsDatepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="getData()"><i class="icon-search4"></i></button></div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><button class="btn bg-default-color btn-full-width padding-h-30" (click)="Export()"><i class="icon-file-download"></i></button></div>
                <!-- dataTables_length  -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <div class="dataTables_length form-inline">
                        <div class="form-group">

                            <select class="form-control" [(ngModel)]="pagingparamater.per_page" (ngModelChange)="getData()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-framed">
                <thead>
                    <tr>
                        <th width="10%">

                            {{'order-report.code' | translate }}


                        </th>
                        <th>

                            {{ 'order-report.kitchen_name' | translate }}


                        </th>
                        <th>

                            {{'order-report.firstname' | translate }}


                        </th>
                        <th>

                            {{'order-report.phone' | translate }}


                        </th>
                        <th>

                            {{'order-report.NetTotal' | translate }}

                        </th>
                        <th>

                            {{'order-report.date' | translate }}

                        </th>
                        <th>
                            {{'order-report.note' | translate }}
                        </th>
                        <th class="text-center" width="10%">{{ 'order-report.status' | translate }}</th>
                        <th>
                            {{ 'share.actions' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Result of Data.data">
                        <td class="text-center">{{Result.code}}</td>
                        <td class="text-center">{{Result.chief.kitchen_name}}</td>

                        <td class="text-center">{{Result.customer.firstname}}</td>
                        <td class="text-center">{{Result.customer.user.phone}}</td>

                        <td class="text-center">{{Result.NetTotal}}</td>
                        <td class="text-center">{{Result.date}}</td>
                        <td class="text-center">{{Result.note}}</td>
                        <td class="text-center">{{Result.status}}</td>
                        <td class="text-center">
                            <a class="btn btn-primary bg-success" (click)="orderDetails(Result.id)"><i class="fa fa-view"></i>{{'share.show'|translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info"> {{ 'share.pageNo' | translate }} {{Data.PageIndex}} / {{Data.Pages}} {{ 'share.total' | translate }}: {{Data.total}}</div>
            <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
            </pagination>
        </div>
    </div>
</div>