@charset "utf-8";

/* CSS Document */

@import url("./icons/icomoon/styles.css");
@import url("./core.css");
@import url("./sidebar-components.css");
@import url("./colors.css");
@import url("./reset.css");
@import url("../ar/font.css");
body {
    font-family: 'Cairo', sans-serif;
}

.width-50 {
    width: 50%
}

.width-100 {
    width: 100%
}
.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}

.load-7 .square {animation: loadingG 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-9 .spinner {animation: loadingI 2s linear infinite;}
.load-9 .bubble-1, .load-9 .bubble-2 {animation: bounce 2s ease-in-out infinite;}
.load-9 .bubble-2 {animation-delay: -1.0s;}

.load-10 .bar {animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loadingA {
    0% {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}

@keyframes loadingB {
    0% {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

@keyframes loadingC {
    0% {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}

@keyframes loadingD {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingE {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingF {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}

@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}

@keyframes loadingJ {
  0%,100% {transform: translate(0,0);}
  
  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}

/***********************************************************************************************
** plus combomant **
************************************************************************************************/

.arabicfont {
    font-family: 'Cairo', sans-serif;
}

.border-radius-5 {
    border-radius: 5px 0 0 5px !important;
}


/***********************************************************************************************
** End plus combomant **
************************************************************************************************/

.sidebar-content {
    position: fixed !important;
    display: block;
    top: 0;
    height: 100%;
    width: 268px;
    right: auto !important;
    left: 0 !important;
}


/***********************************************************************************************
** Login **
************************************************************************************************/

.has-feedback-left .form-control-feedback {
    left: auto;
    right: 10px;
    top: 5px;
}


/***********************************************************************************************
** End Login **
************************************************************************************************/


/***********************************************************************************************
**Shortcut Menu **
************************************************************************************************/

.header-right nav a span {
    float: left;
    padding: 14px 4px 0 0;
    margin: 0 5px;
}


/***********************************************************************************************
**End Shortcut Menu **
************************************************************************************************/


/***********************************************************************************************
**componat float **
************************************************************************************************/

.search:before {
    right: 0;
}

.searchButton {
    right: 0;
}

.file-input-new .input-group .input-group-btn>.btn-file {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.input-group>.form-control+.input-group-btn,
.input-group>.has-feedback+.input-group-btn {
    padding-left: 0px !important;
}

.right {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border: solid #a2185b !important;
    display: inline-block !important;
    border-width: 0 3px 3px 0 !important;
}


/***********************************************************************************************
** End Componat Float **
************************************************************************************************/


/***********************************************************************************************
** tree view **
************************************************************************************************/

.tree li {
    padding: 3px 0px 3px 15px !important;
    font-family: 'NotoKufiArabicRegular' !important;
}

tree-internal .loading-children:after {
    content: ' loading ...';
}

.node-menu .node-menu-content .node-menu-item .node-menu-item-value {
    margin-left: 0px;
}


/***********************************************************************************************
** End tree view **
************************************************************************************************/


/***********************************************************************************************
** @media Quarey **
************************************************************************************************/

@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-left: -15px;
    }
    .datatable-header {
        text-align: initial !important;
    }
}

@media (max-width: 768px) {
    .datatable-header {
        text-align: initial !important;
    }
}


/***********************************************************************************************
** End @media Quarey **
************************************************************************************************/


/* pos current Balance */

.currentBalance {
    position: absolute;
    left: 10px;
}

.en-position {
    text-align: right !important;
}